[data-ba] {
	position: relative;
}
[data-ba-before],
[data-ba-after] {
	img {
		user-select: none;
	}
}
[data-ba-before] {
	img {
		width: 100%;
	}
}
[data-ba-after] {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	overflow: hidden;
	img {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
}
[data-ba-arrow] {
	cursor: grab;
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	width: toRem(4);
	z-index: 2;
	background-color: #ddd;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: toRem(32);
		height: toRem(32);
		transform: translate(-50%, -50%);

		background: url("@img/icons/ellipse-before-after.svg") 0 0 no-repeat;
	}
	&::before {
	}
	&::after {
	}
}

.before-after__arrow {
}
