// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: toRem(40);
	@media (max-width: em(600)) {
		gap: toRem(20);
	}
}
// Спойлер
.spollers__item {
	overflow: hidden;
	border-radius: toRem(20);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	padding: toRem(30) toRem(45);
	position: relative;
	background-color: #1b1b1b;
	list-style: none;
	color: $whiteColor;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	column-gap: toRem(25);
	line-height: 1.3;
	font-size: toRem(23);
	transition: background-color 0.3s;
	cursor: pointer;
	z-index: 2;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $red;
		z-index: -1;
		opacity: 0;
		transition: opacity 0.6s;
	}
	@media (max-width: em(600)) {
		padding: toRem(30);
	}
	@media (max-width: $mobileSmall) {
		font-size: toRem(14);
		padding: toRem(16);
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	&::before {
		content: "\e902";
		@extend %ic;
		font-size: toRem(10);
		transition: transform 0.3s;
		@media (max-width: em(600)) {
			font-size: toRem(10);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(7);
		}
	}
	&._spoller-active {
		border-radius: toRem(20) toRem(20) 0 0;
		//
		@media (any-hover: hover) {
			&:hover {
				background-color: #1b1b1b;
			}
		}
		&::before {
			transform: scale(-1);
		}
		&::after {
			opacity: 1;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #292828;
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: toRem(20) toRem(100) toRem(20) toRem(45);
	background-color: #1b1b1b;
	will-change: transform;
	@media (max-width: em(600)) {
		padding-left: toRem(30);
		padding-right: toRem(60);
	}
	@media (max-width: $mobileSmall) {
		font-size: toRem(12);
		padding: toRem(16);
		padding-right: toRem(40);
	}
	p {
		a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.main__faq {
	.spollers__body {
		p {
			@include adaptiveValue("max-width", 860, 250);
		}
	}
}
