//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	pointer-events: all;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	background: $red;
	padding: toRem(26) toRem(75);
	font-size: toRem(23);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: toRem(10);
	text-transform: uppercase;
	border-radius: toRem(10);
	color: $whiteColor;

	&_gradient-border {
		background: transparent;
		position: relative;
		border-radius: vw(5);
	}

	svg {
		position: relative;
		z-index: 2;
		width: toRem(34);
		height: toRem(32);
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity 0.6s;
		border-radius: toRem(10);
		opacity: 0;
		background: linear-gradient(
			90deg,
			#ff0e10 0%,
			#f32a2d 18.63%,
			#fc5858 33.6%,
			#ee3d3d 52.32%,
			#df3032 61.96%,
			#c21818 85.58%,
			#bc0404 100%
		);
	}

	span {
		position: relative;
		z-index: 2;
		line-height: 1;
	}
	&:hover {
		box-shadow:
			0 0 0.2125rem #bc0404a3,
			0 0 0.4375rem #bc0404ae,
			0 0.325rem 0.325rem #bc04049c,
			0 0 1rem #bc0404;
	}

	@media (any-hover: hover) {
		&:hover::before {
			opacity: 1;
		}
	}

	&_workbook-posing {
		@media (min-width: $tablet) {
			padding: toRem(20);
		}
		@media (min-width: $tablet) {
			width: 95%;
			font-size: toRem(14);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(23.5) toRem(10);
		}
	}
	transition:
		color 0.3s ease 0s,
		background-color 0.3s ease 0s,
		box-shadow 0.3s ease 0s;
	&::after {
		content: "";
		position: absolute;
		pointer-events: none;
		display: inline-block;
		top: -11.25rem;
		left: 0;
		width: 1.875rem;
		height: 100%;
		background-color: #fff;
		animation: shiny-btn1 5s ease-in-out infinite;
	}
	&_black {
		background: none;
		background-color: $backgroundCards;

		&::before {
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					0 0 0.2125rem #191919a3,
					0 0 0.4375rem #0e0e0eae,
					0 0.325rem 0.325rem #1a1a1a9c,
					0 0 1rem #000000;
			}
		}
		@media (max-width: em(603)) {
		}
	}
	&_gold {
		background: $goldGradient;
		&::before {
			background: linear-gradient(
				167deg,
				#e3a455 18.81%,
				#f6dba6 48.22%,
				#ffebc3 80.75%,
				#f0be79 97.46%,
				#8f653b 107.84%,
				#673d22 113.72%,
				#ba7f3b 127.61%,
				#eebc70 138.74%,
				#3f1f0f 164.06%
			);
		}
		&:hover {
			box-shadow:
				0 0 0.2125rem #ffebc3,
				0 0 0.4375rem #eebc70,
				0 0.325rem 0.325rem #eebc70,
				0 0 1rem #eebc70;
		}
	}
}

.content-hero {
	.button {
		padding: vw(26) vw(75);
		font-size: vw(23);
		border-radius: vw(10);
		@media (max-width: em(1024)) {
			font-size: vmin(10.5);
			padding: vmin(18) vmin(45);
			border-radius: vmin(3);
		}
	}
}

@keyframes shiny-btn1 {
	0% {
		transform: scale(0) rotate(45deg);
		transform: scale(0) rotate(45deg);
		opacity: 0;
	}

	80% {
		transform: scale(0) rotate(45deg);
		transform: scale(0) rotate(45deg);
		opacity: 0.5;
	}

	81% {
		transform: scale(4) rotate(45deg);
		transform: scale(4) rotate(45deg);
		opacity: 1;
	}

	100% {
		transform: scale(50) rotate(45deg);
		transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}
