//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	background: $red;
	padding: toRem(26) toRem(75);
	font-size: toRem(23);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border-radius: toRem(10);
	color: $whiteColor;
	&_workbook-posing {
		width: 100%;
		padding: toRem(16.5) toRem(10);
		font-size: toRem(14);
		border-radius: toRem(5);
		@media (max-width: $tablet) {
			width: 70%;
			margin: 0 auto;
			transform: translateY(50%);
		}
	}
}

.content-hero {
	.button {
		padding: vw(26) vw(75);
		font-size: vw(23);
		border-radius: vw(10);
		@media (max-width: em(1024)) {
			font-size: vmin(12);
			padding: vmin(12) vmin(29);
		}
	}
}
