//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	background: $red;
	padding: toRem(26) toRem(75);
	font-size: toRem(23);
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border-radius: toRem(10);
	color: $whiteColor;
	&_workbook-posing {
		width: 100%;
		padding: toRem(16.5) toRem(10);
		font-size: toRem(14);
		border-radius: toRem(5);
		@media (max-width: $tablet) {
			width: 70%;
			margin: 0 auto;
			transform: translateY(50%);
		}
	}
	transition:
		color 0.3s ease 0s,
		background-color 0.3s ease 0s,
		box-shadow 0.3s ease 0s;
	&::before {
		content: "";
		position: absolute;
		pointer-events: none;
		display: inline-block;
		top: -11.25rem;
		left: 0;
		width: 1.875rem;
		height: 100%;
		background-color: #fff;
		animation: shiny-btn1 5s ease-in-out infinite;
	}
}

.content-hero {
	.button {
		padding: vw(26) vw(75);
		font-size: vw(23);
		border-radius: vw(10);
		@media (max-width: em(1024)) {
			font-size: vmin(12);
			padding: vmin(12) vmin(29);
		}
	}
}

@keyframes shiny-btn1 {
	0% {
		transform: scale(0) rotate(45deg);
		transform: scale(0) rotate(45deg);
		opacity: 0;
	}

	80% {
		transform: scale(0) rotate(45deg);
		transform: scale(0) rotate(45deg);
		opacity: 0.5;
	}

	81% {
		transform: scale(4) rotate(45deg);
		transform: scale(4) rotate(45deg);
		opacity: 1;
	}

	100% {
		transform: scale(50) rotate(45deg);
		transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}
