//<FORM>
// Сніппет (HTML):
.form {
	display: grid;
	grid-template-columns: 1fr 1fr 0.8fr;
	gap: toRem(30);

	@media (max-width: $mobileSmall) {
		grid-template-columns: auto;
	}
	&__label {
		border-radius: toRem(10);
		position: relative;
		border: toRem(1) solid rgba(80, 80, 80, 0.3);
		display: flex;
		height: toRem(54);
		transition: border 0.3s ease 0s;
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: toRem(20);
			&::before {
				color: #686868;
				font-size: toRem(23);
				transition: color 0.6s;
				@media (max-width: $tablet) {
					font-size: toRem(20);
				}
			}
		}
		&._input-focus {
			transition: border 0.3s ease 0s;
			border: toRem(1) solid #df3032;
			.footer_gold & {
				border: toRem(1) solid #f0be79;
			}
		}
		&._input-focus {
			i {
				&::before {
					transition: color 0.6s;
					color: #df3032;
					.footer_gold & {
						color: #f0be79;
					}
				}
			}
		}
		@media (max-width: em(1300)) {
		}
	}
	&__input {
	}
	// .form__placeholder

	&__placeholder {
		transition:
			transform 0.6s,
			color 0.6s;
		position: absolute;
		top: 50%;
		left: toRem(60);
		color: #686868;
		font-weight: 300;
		font-size: toRem(16);
		z-index: 2;
		transform: translateY(-50%);
		background-color: #171717;

		._input-active & {
			transform: translateY(-220%);
		}
		._input-focus & {
			transition:
				transform 0.6s,
				color 0.6s;
			color: #df3032;
			.footer_gold & {
				color: #f0be79;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(15);
		}
	}

	// .form__submit

	&__submit {
	}
	&__submit {
		cursor: pointer;
		&.button {
			font-size: toRem(15);
			padding: toRem(19.5) toRem(36);
			.footer_gold & {
				color: rgb(19, 19, 19);
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(13);
			}
		}

		@media (min-width: $mobileSmall) and (max-width: em(1300)) {
			grid-column: span 2;
		}
	}
	&__error {
	}
	@media (max-width: em(1300)) {
		grid-template-columns: auto;
	}
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
