//<FORM>
// Сніппет (HTML):
.form {
	display: grid;
	gap: toRem(20);
	@media (max-width: $mobileSmall) {
		gap: toRem(15);
	}
	&__label {
		border-radius: toRem(10);
		position: relative;
		border: toRem(1) solid rgba(80, 80, 80, 0.3);
		display: flex;
		transition: border 0.3s ease 0s;
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: toRem(20);
			&::before {
				color: #686868;
				font-size: toRem(23);
				transition: color 0.6s;
				@media (max-width: $tablet) {
					font-size: toRem(20);
				}
			}
		}
		&._input-focus {
			transition: border 0.3s ease 0s;
			border: toRem(1) solid #df3032;
			.page-template-guide-page & {
				border: toRem(1) solid #f0be79;
			}
		}
		&._input-focus {
			i {
				&::before {
					transition: color 0.6s;
					color: #df3032;
					.page-template-guide-page & {
						color: #f0be79;
					}
				}
			}
			svg path {
				stroke: #df3032;
			}
			.page-template-guide-page & {
				svg path {
					stroke: #f0be79;
				}
			}
		}
		@media (max-width: em(1300)) {
		}
		&_message {
			align-items: start;
			.form__placeholder {
				top: 0;
				transform: translateY(100%);
			}
			svg {
				transition: stroke 0.3s ease 0s;
				margin-left: 20px;
				width: toRem(30);
				height: toRem(30);
				transform: translateY(30%);
			}
			svg path {
				stroke: #686868;
			}
		}
	}

	&__input-wrapper {
		width: 100%;
		height: 100%;
	}
	&__input {
	}
	// .form__placeholder

	&__placeholder {
		transition:
			transform 0.6s,
			color 0.6s;
		position: absolute;
		top: 50%;
		left: toRem(60);
		color: #686868;
		font-weight: 300;
		font-size: toRem(16);
		z-index: 2;
		transform: translateY(-50%);
		background-color: #eee;
		._input-active & {
			transform: translateY(-220%);
			&_message {
				transform: translateY(-60%);
			}
		}
		._input-focus & {
			transition:
				transform 0.6s,
				color 0.6s;
			color: #df3032;
			.page-template-guide-page & {
				color: #f0be79;
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(15);
		}
	}

	// .form__submit

	&__submit {
		&.button {
			padding: toRem(20) toRem(10);
			font-size: toRem(18);
			@media (max-width: $mobileSmall) {
				font-size: toRem(14);
			}
		}
	}
	&__submit {
	}
	&__error {
	}
	@media (max-width: em(1300)) {
		grid-template-columns: auto;
	}
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
