%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

// ._icon-arrow:before {
// 	content: "\e900";
// 	color: #fff;
// }
// ._icon-arrow-slider:before {
// 	content: "\e901";
// 	color: #fff;
// }

// ._icon-arrow:before {
// 	content: "\e902";
// 	color: #fff;
// }
// ._icon-arrow-slider:before {
// 	content: "\e903";
// 	color: #fff;
// }
// ._icon-check:before {
// 	content: "\e904";
// 	color: #fff;
// }
// ._icon-chevron-left:before {
// 	content: "\e907";
// }
// ._icon-chevron-right:before {
// 	content: "\e908";
// }

._icon-instagram:before {
	content: "\e900";
}
._icon-telegram:before {
	content: "\e901";
}
._icon-tik-tok:before {
	content: "\e905";
}
._icon-youtube:before {
	content: "\e906";
}
._icon-email:before {
	content: "\e909";
}
._icon-user:before {
	content: "\e90a";
}
._icon-message:before {
	content: "\e90b";
}
._icon-arrow:before {
	content: "\e902";
}
._icon-arrow-slider:before {
	content: "\e903";
}
._icon-check:before {
	content: "\e904";
}
._icon-chevron-left:before {
	content: "\e907";
}
._icon-chevron-right:before {
	content: "\e908";
}
