.error-page {
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
	}
	&::after {
		right: 0;
		width: vw(622);
		height: vw(571);
		background: url("@img/workbook/decor/decor-3.png") 0 0 / contain no-repeat;
		transform: rotate(-53deg) translate(43%, 7%);
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&::before {
		left: 0;
		width: vw(622);
		height: vw(571);
		background: url("@img/workbook/decor/decor-1.png") 0 0 / contain no-repeat;
		transform: rotate(18deg) translate(-25%, -8%);
		@media (max-width: $mobile) {
			width: vmin(242);
			height: vmin(242);
			transform: rotate(18deg) translate(-33%, -3%);
		}
	}
	// .error-page__main

	&__main {
		display: grid;

		height: 100%;
		@media (min-width: $mobile) {
			grid-template-columns: 1fr 0.7fr;
		}
		@media (max-width: $mobile) {
			text-align: center;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			height: 100vh;
			gap: vmin(20);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: start;
		align-items: center;
		// padding-left: 150px;

		align-self: center;
		@media (min-width: $mobile) {
			padding-left: vw(150);
		}
		@media (max-width: $mobile) {
			padding-top: vmin(90);
			padding-right: vmin(15);
			padding-left: vmin(15);
		}
	}

	// .error-page__label

	&__label {
		&.bg-gradient {
			line-height: 1.2;
			// font-size: toRem(45);
			font-size: vw(45);
			padding-bottom: vw(20);
			// padding-bottom: toRem(5);
			@media (max-width: $mobile) {
				font-size: vmin(22);
				max-width: vmin(230);
				margin: 0 auto vmin(15) auto;
			}
		}
	}

	// .error-page__logo

	&__logo {
		width: vw(800);
		// width: toRem(777);
		// height: 300px;
		// width: vw(777);
		// height: 17.041667vw;
		position: relative;

		img {
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: vw(40);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: vmin(20);
			}
		}
		@media (max-width: $mobile) {
			width: 71.75vmin;
		}
	}

	// .error-page__button

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		// gap: toRem(63);
		gap: vw(50);
		width: 100%;
	}

	// .error-page__button-wrap

	&__button-wrap,
	&__link-wrapp {
		@media (min-width: $mobile) {
			flex: 0 0 35%;
		}
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	&__link-wrapp {
		position: relative;
		border-radius: vw(5);
		overflow: hidden;

		@media (any-hover: hover) {
			&:hover {
				.error-page__link {
					&::before {
						opacity: 1;
					}
				}
			}
		}
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	// .error-page__link

	&__link {
		&.button {
			width: 100%;
			font-size: vw(20);
			font-size: vw(20);
			// padding: vw(35) vw(120);
			padding: vw(30) vw(10);
			border-radius: vw(5);
			@media (max-width: $mobile) {
				padding: vmin(13) vmin(10);
				font-size: vmin(9.5);
			}
		}
	}

	// .error-page__image

	&__image {
		align-self: flex-end;
		justify-self: end;
		position: relative;
		right: vw(-10);
		// right: vw(-490);
		// width: vw(599);
		// height: vw(777);
		// bottom: vw(-100);
		// position: absolute;
		// right: 0;
		// bottom: vw(425);
		// height: 40vh;
		// width: 40vw;

		img {
			text-align: right;
			max-width: 100%;
			@media (min-width: $mobile) {
			}

			// @media (max-width: $mobile) {
			// 	width: auto;
			// 	height: 100%;
			// }
		}
		@media (max-width: $mobile) {
			height: 88vmin;
			width: 75.75vmin;
		}
	}
}
