// Заголовки, загальні БЕМ блоки та інше...

//==========================================//

.bg-gradient {
	background-image: $red;
	background-position: 0 0;
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: toRem(50);
	font-weight: 600;
	color: $whiteColor;
	text-transform: uppercase;
	span {
		transform: translateY(37%);
		font-family: "Birthstone";
		font-size: toRem(90);
		font-weight: 400;
		text-transform: none;
	}
	&_workbook {
		font-size: toRem(40);
		span {
			font-size: toRem(50);
		}
	}
	span {
		@media (max-width: $mobileSmall) {
			font-size: toRem(43);
		}
	}
	@media (max-width: $mobileSmall) {
		font-size: toRem(24);
	}
	&:not(:last-child) {
		margin-bottom: toRem(70);
	}

	@media (max-width: $mobile) {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}

.text {
	line-height: 1.5;
	font-weight: 300;
	color: $whiteColor;
}

@keyframes puls-shadow {
	0% {
		box-shadow: 0px 0px 5px 0px rgba(251, 251, 251, 0.3);
	}
	50% {
		box-shadow: 0px 0px 15px 1px rgba(251, 251, 251, 0.3);
	}
	100% {
		box-shadow: 0px 0px 5px 0px rgba(251, 251, 251, 0.3);
	}
}

.top {
	position: absolute;
	bottom: toRem(10);
	right: toRem(15);
	width: toRem(66);
	height: toRem(66);
	border-radius: 50%;
	background: $red;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	transition: opacity 0.3s;
	svg {
		width: toRem(25);
		height: toRem(25);
		position: relative;
		animation: top-arrow 2s infinite linear;
		@media (max-width: $mobileSmall) {
			width: toRem(14);
			height: toRem(14);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	@media (max-width: $mobileSmall) {
		width: toRem(36);
		height: toRem(36);
	}
}

.ibg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	&_contain {
		object-fit: contain;
	}
}

@keyframes top-arrow {
	0% {
		bottom: toRem(0);
	}
	50% {
		bottom: toRem(10);
	}
	100% {
		bottom: toRem(0);
	}
}

.faq {
	padding-top: toRem(100);
	padding-bottom: toRem(167);
	@media (max-width: em(1024.98)) {
		padding-bottom: toRem(120);
	}
	@media (max-width: $mobile) {
		padding-bottom: toRem(100);
		padding-top: toRem(70);
	}
	@media (max-width: $mobileSmall) {
		padding-top: toRem(30);
		padding-bottom: toRem(70);
	}
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 100%;
		background: url("@img/decor/decor-faq.svg") 0 0 / auto 100% repeat-x;
	}
	// .faq__container

	&__container {
		position: relative;
		z-index: 2;
	}

	// .faq__title

	&__title {
	}

	// .faq__spollers

	&__spollers {
	}
}

//=================Картка товару==============//

.item-catalog {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	border-radius: toRem(10);
	overflow: hidden;
	transition: transform 1.5s;
	will-change: transform;
	filter: drop-shadow(2.42px 4.033px 8.066px rgba(0, 0, 0, 0.25));
	@media (min-width: $mobile) {
		height: 100%;
	}
	@media (any-hover: hover) {
		&:hover {
			transform: translateY(-2%);
		}
	}
	&__image-wrapper {
		position: relative;
		padding-bottom: 100%;

		@media (any-hover: hover) {
			&:hover .item-catalog__image {
				opacity: 0;
				visibility: hidden;
			}
			&:hover .item-catalog__navigation {
				opacity: 1;
				visibility: visible;
			}
			&:hover .item-catalog__slider {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .item-catalog__slide-image

	// .item-catalog__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 1;
		transition:
			opacity 0.6s,
			visibility 0.6s;
		opacity: 1;
		visibility: visible;
		.touch & {
			display: none;
		}
	}

	&__slide-image-inner {
		width: 50%;
		padding-bottom: 100%;
		position: relative;
	}

	// .item-catalog__slider

	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition:
			opacity 0.6s,
			visibility 0.6s;
	}

	// .item-catalog__wrapper

	&__wrapper {
	}

	&__slider-pagination {
		display: none;
		@media (max-width: $mobile) {
			margin-top: toRem(20);
		}
	}

	&__tip {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(0);
		&.tip {
			span {
				color: $whiteColor;
			}
		}
	}

	&__slide-image {
		position: relative;
		display: flex;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		&_first-mobile {
			display: none;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: 2;
			}
			.touch & {
				display: block;
				padding-bottom: 100%;
			}
		}
	}

	// .item-catalog__labels

	&__labels {
		position: absolute;
		bottom: toRem(5);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__label-wrapper {
		margin: 0 toRem(35);
		width: 50%;
	}

	// .item-catalog__label

	&__label {
		color: black;
		font-weight: 500;
		text-align: center;
		padding: toRem(7) toRem(16);
		background-color: $whiteColor;
		text-transform: uppercase;
		// font-size: 15px;
		@include adaptiveValue("font-size", 15, 12, 0, $containerWidth, 1024.98);
	}

	// .item-catalog__navigation

	&__navigation {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 3;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
	}

	// .item-catalog__navigation-btn

	&__navigation-btn {
		height: toRem(40);
		width: toRem(40);
		pointer-events: auto;
		&::before {
			font-size: toRem(35);
		}
		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.5;
		}
		// .item-catalog__navigation-btn_prev

		&_prev {
		}

		// .item-catalog__navigation-btn_next

		&_next {
		}
	}

	// .item-catalog__content

	&__content {
		background-color: white;
		text-align: center;
		padding: toRem(20) toRem(30) toRem(30) toRem(30);
		@media (min-width: $mobile) {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}
		@media (max-width: $mobile) {
			padding: toRem(20) toRem(15) toRem(20) toRem(15);
		}
		@media (max-width: em(600)) {
			padding: toRem(20) toRem(30) toRem(20) toRem(30);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(20) toRem(15) toRem(20) toRem(15);
		}
	}

	// .item-catalog__title

	&__title {
		@media (any-hover: hover) {
			&:hover h3 {
				color: red;
			}
		}
		h3 {
			font-size: toRem(20);
			color: #121212;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.4;
			letter-spacing: em(0.1);
			transition: color 0.3s;
			@media (max-width: $mobile) {
				@include adaptiveValue("font-size", 30, 16);
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		@media (max-width: em(600)) {
			font-size: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(17);
		}
	}

	// .item-catalog__footer

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(10);

		@media (min-width: $mobile) {
			margin-top: auto;
		}
	}

	// .item-catalog__price

	&__price {
		font-size: toRem(32);
		@media (max-width: $mobileSmall) {
			font-size: toRem(25);
		}
	}

	// .item-catalog__add

	&__add {
		&.button {
			font-size: toRem(10);
			padding: toRem(10) toRem(40);
			gap: toRem(5);
			svg {
				width: toRem(18);
				height: toRem(18);
			}
		}
	}
}

.decor {
	position: relative;
	z-index: 3;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&.presets__catalog {
		&::before {
			left: 50%;
			top: -2.0833333333vw;
			transform: translateX(-50%);
			z-index: 2;
			background: url("@img/decor/decor-circle-white.svg") 0 0 / 100% auto no-repeat;
			pointer-events: none;
			@media (max-width: $mobile) {
				top: vmin(-15);
				background: url("@img/decor/decor-circle-white-mobile.svg") 0 0 / 100% auto no-repeat;
			}
		}
	}

	&_premium-set {
		&::before {
			left: 50%;
			z-index: -3;
			bottom: -2.0833333333vw;
			transform: translate(-50%, 0) rotate(180deg);
			top: initial;
			background: url("@img/decor/decor-circle-white.svg") 0 0 / 100% auto no-repeat;
			@media (min-width: em(1300)) {
			}
			@media (max-width: em(1300.98)) {
				bottom: vmin(-15);
				background: url("@img/decor/decor-circle-white-mobile.svg") 0 0 / 100% auto no-repeat;
			}
		}
	}
}

@keyframes anim-image-big {
	0% {
		transform: 0;
	}
	50% {
		transform: translateY(5%);
	}
	100% {
		transform: 0;
	}
}
@keyframes anim-image-top-left {
	0% {
		transform: 0;
	}
	50% {
		transform: translateY(3%);
	}
	100% {
		transform: 0;
	}
}
@keyframes anim-image-top-right {
	0% {
		transform: 0;
	}
	50% {
		transform: translateY(11%);
	}
	100% {
		transform: 0;
	}
}
@keyframes anim-image-bottom-right {
	0% {
		transform: 0;
	}
	50% {
		transform: translateY(12%);
	}
	100% {
		transform: 0;
	}
}
@keyframes anim-image-bottom-left {
	0% {
		transform: 0;
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: 0;
	}
}

.shop {
	position: fixed;
	right: toRem(15);
	top: 50%;
	flex: 0 0 toRem(84);
	width: toRem(84);
	height: toRem(84);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: white;
	filter: drop-shadow(toRem(4) toRem(4) toRem(10) rgba(0, 0, 0, 0.25));
	z-index: 99;
	transition: opacity 0.3s;
	svg {
		width: toRem(50);
		height: toRem(50);
	}
	@media (max-width: $mobile) {
		flex: 0 0 toRem(44);
		width: toRem(44);
		height: toRem(44);
		display: flex;
		svg {
			width: toRem(25);
			height: toRem(25);
		}
	}

	&__count {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: toRem(-7);
		right: toRem(7);
		background: $red;
		width: toRem(23);
		height: toRem(23);
		border-radius: 50%;
		font-size: toRem(10);
		color: white;
		@media (max-width: $mobile) {
			width: toRem(12);
			height: toRem(12);
			font-size: toRem(6);
			top: toRem(-3);
			right: toRem(3);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.9;
		}
	}
}

.tip {
	span {
		font-size: toRem(10);
		color: black;
		text-transform: uppercase;
	}
	&__icon {
		width: toRem(52);
		height: toRem(52);
		flex: 0 0 toRem(52);
		position: relative;
	}
}

.pagination {
	@media (max-width: $mobile) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(27);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		.swiper-pagination-bullet {
			flex: 0 0 toRem(15);
			width: toRem(15);
			height: toRem(15);
			border-radius: 50%;
			background-color: #d9d9d9;
		}
		.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}

.catalog__slider-pagination {
	@media (max-width: $mobile) {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		width: 6.525rem !important;
		margin: 0 auto;
		margin-top: toRem(20);
		@media (max-width: em(380)) {
			margin-top: toRem(10);
		}

		.swiper-pagination-bullet {
			display: inline-block;
			width: toRem(15);
			height: toRem(15);
			border-radius: 50%;
			background-color: #d9d9d9;
			&:not(:last-child) {
				margin-right: toRem(5);
			}
		}
		.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}
.swiper-pagination-bullets-dynamic {
	.swiper-pagination-bullet {
		transform: scale(0.33);
		position: relative;
		overflow: hidden;
		font-size: 0;
		display: inline-block;
		transition:
			600ms transform,
			600ms right,
			600ms left;
	}
	.swiper-pagination-bullet-active-prev-prev {
		transform: scale(0.33);
	}
	.swiper-pagination-bullet-active-prev {
		transform: scale(0.66);
	}
	.swiper-pagination-bullet-active {
		transform: scale(1);
	}
	.swiper-pagination-bullet-active-main {
		transform: scale(1);
	}
	.swiper-pagination-bullet-active-next {
		transform: scale(0.66);
	}
	.swiper-pagination-bullet-active-next-next {
		transform: scale(0.33);
	}
	// .swiper-button-disabled {
	// 	opacity: 0.2;
	// 	pointer-events: none;
	// }
}
