// Заголовки, загальні БЕМ блоки та інше...

//==========================================//

.guide-instagram {
	&._decor-top {
		&::before {
			content: "";
			@media (max-width: em(1024)) {
				display: none;
			}
		}
	}
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: toRem(50);
	font-weight: 600;
	color: $whiteColor;
	text-transform: uppercase;
	span {
		transform: translateY(37%);
		font-family: "Birthstone";
		font-size: toRem(90);
		font-weight: 400;
		text-transform: none;
		padding-bottom: toRem(10);
	}
	&_workbook {
		font-size: toRem(40);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
		span {
			font-size: toRem(50);
		}
	}
	span {
		@media (max-width: $mobileSmall) {
			font-size: toRem(43);
		}
	}
	@media (max-width: $mobileSmall) {
		font-size: toRem(24);
	}
}

.text {
	line-height: 1.5;
	font-weight: 300;
	color: $whiteColor;
}

.top {
	position: fixed;
	bottom: toRem(10);
	right: toRem(20);
	width: toRem(66);
	height: toRem(66);
	border-radius: 50%;
	background: $red;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	transition: opacity 0.3s;
	opacity: 0;
	visibility: hidden;
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 0px 10px red;
		}
	}
	svg {
		width: toRem(25);
		height: toRem(25);
		position: relative;
		animation: top-arrow 5s infinite linear;
		will-change: transform;
		@media (max-width: $mobile) {
			width: toRem(14);
			height: toRem(14);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	@media (max-width: $mobile) {
		width: toRem(36);
		height: toRem(36);
		right: toRem(15);
	}
	&.back-to-top-show {
		opacity: 1;
		visibility: visible;
	}
	&_gold {
		background: linear-gradient(
			136deg,
			#e3a455 21.02%,
			#f6dba6 36.01%,
			#ffebc3 52.59%,
			#f0be79 61.11%,
			#eebc70 82.14%
		);
		svg path {
			stroke: black;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 10px #f0be79;
			}
		}
	}
}

.ibg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	&_contain {
		object-fit: contain;
	}
}

@keyframes top-arrow {
	0% {
		bottom: toRem(0);
	}
	50% {
		bottom: toRem(10);
	}
	100% {
		bottom: toRem(0);
	}
}

.faq {
	padding-top: toRem(100);
	padding-bottom: toRem(167);
	@media (max-width: em(1024.98)) {
		padding-bottom: toRem(120);
	}
	@media (max-width: $mobile) {
		padding-bottom: toRem(100);
		padding-top: toRem(70);
	}
	@media (max-width: $mobileSmall) {
		padding-top: toRem(30);
		padding-bottom: toRem(70);
	}
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 100%;
		background: url("@img/decor/decor-faq.svg") 0 0 / auto 100% repeat-x;
	}
	// .faq__container

	&__container {
		position: relative;
		z-index: 2;
	}

	// .faq__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 20);
		}
	}

	// .faq__spollers

	&__spollers {
	}
}

//=================Картка товару==============//

.decor {
	position: relative;
	z-index: 3;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&.presets__catalog {
		&::before {
			left: 50%;
			top: -2.0833333333vw;
			transform: translateX(-50%);
			z-index: 2;
			background: url("@img/decor/decor-circle-white.svg") 0 0 / 100% auto no-repeat;
			pointer-events: none;
			@media (max-width: $mobile) {
				top: vmin(-15);
				background: url("@img/decor/decor-circle-white-mobile.svg") 0 0 / 100% auto no-repeat;
			}
		}
	}

	&_premium-set {
		&::before {
			left: 50%;
			z-index: -3;
			bottom: -2.0833333333vw;
			transform: translate(-50%, 0) rotate(180deg);
			top: initial;
			background: url("@img/decor/decor-circle-white.svg") 0 0 / 100% auto no-repeat;
			@media (min-width: em(1300)) {
			}
			@media (max-width: em(1300.98)) {
				bottom: vmin(-15);
				background: url("@img/decor/decor-circle-white-mobile.svg") 0 0 / 100% auto no-repeat;
			}
		}
	}
}

.shop {
	position: fixed;
	right: toRem(15);
	top: 50%;
	flex: 0 0 toRem(84);
	width: toRem(84);
	height: toRem(84);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: white;
	filter: drop-shadow(toRem(4) toRem(4) toRem(10) rgba(0, 0, 0, 0.25));
	z-index: 99;
	transition: opacity 0.3s;
	svg {
		width: toRem(50);
		height: toRem(50);
	}
	@media (max-width: $mobile) {
		flex: 0 0 toRem(44);
		width: toRem(44);
		height: toRem(44);
		display: flex;
		svg {
			width: toRem(25);
			height: toRem(25);
		}
	}

	&__count {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: toRem(-7);
		right: toRem(7);
		background: $red;
		width: toRem(23);
		height: toRem(23);
		border-radius: 50%;
		font-size: toRem(10);
		color: white;
		@media (max-width: $mobile) {
			width: toRem(12);
			height: toRem(12);
			font-size: toRem(6);
			top: toRem(-3);
			right: toRem(3);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.9;
		}
	}
}

.tip {
	span {
		font-size: toRem(10);
		color: black;
		text-transform: uppercase;
	}
	&__icon {
		width: toRem(52);
		height: toRem(52);
		flex: 0 0 toRem(52);
		position: relative;
	}
}

.pagination {
	@media (max-width: $mobile) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(27);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(15);
		}
		.swiper-pagination-bullet {
			flex: 0 0 toRem(15);
			width: toRem(15);
			height: toRem(15);
			border-radius: 50%;
			background-color: #d9d9d9;
		}
		.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}

.catalog__slider-pagination {
	@media (max-width: $mobile) {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		width: 6.525rem !important;
		margin: 0 auto;
		margin-top: toRem(20);
		@media (max-width: em(380)) {
			margin-top: toRem(10);
		}

		.swiper-pagination-bullet {
			display: inline-block;
			width: toRem(15);
			height: toRem(15);
			border-radius: 50%;
			background-color: #d9d9d9;
			&:not(:last-child) {
				margin-right: toRem(5);
			}
		}
		.swiper-pagination-bullet-active {
			background: $red;
		}
	}
	@media (max-width: $mobileSmall) {
		display: none;
	}
}

.navigation {
	// .navigation__button

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(14) toRem(32);
		box-shadow: 0 0 toRem(30) toRem(1) rgba(0, 0, 0, 0.4);
		color: $whiteColor;
		border-radius: toRem(10);
		background-color: $backgroundDark;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: opacity 0.6s;
			border-radius: toRem(10);
			opacity: 0;
			transition: opacity 0.3s;
			background: linear-gradient(
				90deg,
				#ff0e10 0%,
				#f32a2d 18.63%,
				#fc5858 33.6%,
				#ee3d3d 52.32%,
				#df3032 61.96%,
				#c21818 85.58%,
				#bc0404 100%
			);
		}
		@media (any-hover: hover) {
			&:hover::after {
				opacity: 1;
			}
		}
		&::before {
			position: relative;
			z-index: 3;
			font-size: toRem(12);
		}
		// .navigation__button_prev

		&_prev {
			background: $red;
		}

		// .navigation__button_next

		&_next {
			background: $red;

			transform: rotate(180deg);
		}

		&.swiper-button-disabled {
			pointer-events: none;
			background: black;
		}
	}
}

// .item-catalog__labels

.labels-image {
	position: absolute;
	bottom: toRem(5);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	&__wrapper {
		margin: 0 toRem(35);
		width: 50%;
	}

	// .item-catalog__label

	&__text {
		color: black;
		font-weight: 500;
		text-align: center;
		padding: toRem(7) toRem(16);
		background-color: $whiteColor;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 15, 12, 0, $containerWidth, 1024.98);
	}

	&_small {
		.labels-image__wrapper {
			@include adaptiveValue("margin-right", 10, 4, 0, $containerWidth, 991.98);
			@include adaptiveValue("margin-left", 10, 4, 0, $containerWidth, 991.98);
		}
		.labels-image__text {
			font-size: toRem(5);
			padding: toRem(2) toRem(2);
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: toRem(5) toRem(17);
	flex-wrap: wrap;
	@media (max-width: $mobileSmall) {
		// column-gap: toRem(10);
	}
	li {
		list-style: none;
		a {
			position: relative;
			&::before {
				font-size: toRem(20);
				background-image: $red;
				background-position: 0;
				background-size: 100%;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: rgba(255, 255, 255, 1);
			}

			&:hover {
				&::before {
					-webkit-text-fill-color: rgba(255, 255, 255, 0);
				}
			}
		}
	}
}

[data-border] {
	position: relative;
	.decor-border:nth-child(1) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(240, 238, 238, 0.2));
		animation: anim-border1 5s linear infinite;
	}
	.decor-border:nth-child(2) {
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(240, 238, 238, 0.2));
		animation: anim-border2 5s linear infinite;
		animation-delay: 0.625s;
	}

	.decor-border:nth-child(3) {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 2px;
		background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(240, 238, 238, 0.2));
		animation: anim-border3 5s linear infinite;
	}
	.decor-border:nth-child(4) {
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(240, 238, 238, 0.2));
		animation: anim-border4 5s linear infinite;
		animation-delay: 0.625s;
	}
}

.cards-guide {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: toRem(30);
	@media (max-width: em(1400)) {
		gap: toRem(20);
	}
	@media (max-width: em(1200.98)) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: $mobile) {
		grid-template-columns: auto;
		padding: 0 toRem(55);
		gap: toRem(35);
	}
	@media (max-width: $mobileSmall) {
	}
	@media (min-width: em(374)) and (max-width: $mobileSmall) {
		padding: 0;
		max-width: toRem(240);
		margin: 0 auto;
	}
	@media (max-width: em(374)) {
		padding: 0;
	}
}

.card {
	position: relative;
	padding: toRem(1.5);
	list-style: none;
	overflow: hidden;
	border-radius: toRem(8);

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;
		background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 65%);
	}

	// .card__wrapper

	&__wrapper {
		text-align: center;
		padding: toRem(68) toRem(32) toRem(41) toRem(32);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(15);
		background-color: $backgroundDark;
		position: relative;
		z-index: 5;
		border-radius: toRem(8);
		height: 100%;
		@media (max-width: $mobile) {
			padding: toRem(56) toRem(50);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(50) toRem(28);

			gap: toRem(10);
		}
	}

	// .card__icon

	&__icon {
		flex: 0 0 toRem(97);
		width: toRem(97);
		height: toRem(97);
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 toRem(64);
			width: toRem(63);
			height: toRem(63);
		}
	}

	// .card__title

	&__title {
		font-weight: 800;
		font-size: toRem(20);
		@media (max-width: $mobileSmall) {
			font-size: toRem(15);
		}
	}

	// .card__text

	&__text {
		&.text {
			font-size: toRem(15.5);
			@media (max-width: $mobileSmall) {
				font-size: toRem(12);
			}
		}
	}
	&_main {
		@media (max-width: $mobileSmall) {
			&:nth-child(3) {
				.card__text {
					min-width: toRem(196);
				}
			}
			&:nth-child(4) {
				.card__title {
					min-width: toRem(196);
				}
			}
		}
	}
}
@media (min-width: em(1201)) {
	.course__cards {
		.card:nth-child(1) .card__wrapper .card__icon {
			margin-right: auto;
		}
		.card:nth-child(1) .card__text {
			@media (min-width: $mobileSmall) {
				max-width: toRem(224);
			}
		}

		.card:nth-child(1) .card__wrapper {
			text-align: left;
			align-items: start;
		}
		.card:nth-child(4) .card__wrapper {
			text-align: right;
			align-items: end;
		}
		.card:nth-child(4) .card__wrapper .card__icon {
			margin-left: auto;
		}
		.card:nth-child(1)::before {
			transform: translate(-25%, 0%);
		}

		.card:nth-child(2)::before {
			transform: translate(-12%, -25%);
		}

		.card:nth-child(3)::before {
			transform: translate(12%, -25%);
		}
		.card:nth-child(4)::before {
			transform: translate(25%, 0%);
		}
	}
}

.guide-instagram__cards {
	.card {
		position: relative;
		padding: toRem(5);
		overflow: visible;
		@media (max-width: em(1200)) {
			&:nth-child(1) {
				.card__text {
					max-width: toRem(155);
				}
			}
			&:nth-child(3) {
				.card__text {
					max-width: toRem(265);
				}
			}
		}

		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		@media (max-width: em(1200)) {
			svg {
				display: none;
			}
			padding: toRem(1);
			background: linear-gradient(
				133.08deg,
				#e3a455 3.62%,
				#f6dba6 18.97%,
				#ffebc4 34.01%,
				#f0be79 41.61%,
				#8f653b 46.67%,
				#673d22 49.92%,
				#ba7f3b 56.62%,
				#eebc70 61.29%,
				#3f1f0f 84.65%
			);
		}

		&::before {
			display: none;
		}
		@media (max-width: $mobile) {
			&::after {
				content: "";
				display: none;
			}
		}
		&:nth-child(4) {
			.card__text {
				max-width: toRem(215);
			}
		}
	}

	.card__wrapper {
		text-align: center;
		padding-left: toRem(25);
		padding-right: toRem(25);
	}
	.card__icon {
		flex: 0 0 toRem(148);
		width: toRem(148);
		height: toRem(148);
		@media (max-width: $mobileSmall) {
			flex: 0 0 toRem(97);
			width: toRem(97);
			height: toRem(97);
		}
	}
	.card__text {
		font-size: toRem(20);
		span {
			font-weight: 600;
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}
		max-width: toRem(232);
	}
}

.particles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150vh;
	pointer-events: none;
}
.particles1 {
	opacity: 0.4;
	filter: blur(toRem(2));
	-webkit-filter: blur(toRem(2));
}
.particles2 {
	opacity: 0.2;
}

._btn-shadow {
	position: relative;
	pointer-events: none;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// background-color: #bc0404;
		opacity: 1;
		background: linear-gradient(
			90deg,
			#ff0e10 0%,
			#fd4042 18.63%,
			#fc5858 33.6%,
			#f54e4f 52.32%,
			#df3032 67.96%,
			#d01d1e 85.58%,
			#bc0404 100%
		);
		z-index: 2;
		filter: blur(toRem(15));
		-webkit-filter: blur(toRem(15));
		animation: btn-shadow 2s linear infinite alternate;
		transition: opacity 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover::before {
			opacity: 0;
		}
	}
}

._btn-shadow-gold {
	position: relative;
	pointer-events: none;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 1;
		background: linear-gradient(
			167deg,
			#e3a455 18.81%,
			#f6dba6 48.22%,
			#ffebc3 80.75%,
			#f0be79 97.46%,
			#8f653b 107.84%,
			#673d22 113.72%,
			#ba7f3b 127.61%,
			#eebc70 138.74%,
			#3f1f0f 164.06%
		);
		z-index: -1;
		filter: blur(toRem(10));
		-webkit-filter: blur(toRem(10));
		animation: btn-shadow 2s linear infinite alternate;
		transition: opacity 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover::before {
			opacity: 0;
		}
	}
}
