.footer {
	padding: toRem(25) 0;
	background-color: #171717;
	@media (max-width: $mobileSmall) {
		padding-bottom: toRem(50);
	}
	// .footer__container

	&__container {
		display: grid;
		grid-template-columns: percent(322, 1400) 1fr;
		column-gap: toRem(20);
		align-items: center;
		@media (max-width: em(1300)) {
			grid-template-columns: 34% 1fr;
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			row-gap: toRem(10);
		}

		// @include adaptiveValue("column-gap", 163, 30, 0, $containerWidth, 991.98);
	}

	// .footer__main

	&__main {
	}

	// .footer__form

	&__form {
		@media (min-width: $mobile) {
			margin-left: auto;
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__socials-bottom {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.main-footer {
	// .main-footer__title

	&__title {
		&.title {
			flex-direction: column-reverse;
			font-size: toRem(20);
			align-items: start;
			justify-content: start;
			font-weight: 900;
			text-align: left;
			margin-bottom: 0;
			span {
				transform: translate(-3%, -37%);
				font-size: toRem(40);
				@media (max-width: $mobileSmall) {
					font-size: toRem(32);
				}
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(16);
			}
		}
	}

	// .main-footer__bottom

	&__bottom {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
	}

	// .main-footer__text

	&__text {
		color: $whiteColor;
		font-size: toRem(17);
		font-weight: 300;
		@media (max-width: $tablet) {
			font-size: toRem(13);
		}
	}

	// .main-footer__socials

	&__socials {
	}
}
