.footer {
	position: relative;
	z-index: 90;
	padding: toRem(40) 0 0 0;
	background-color: #171717;
	@media (max-width: $mobileSmall) {
		padding-bottom: toRem(0);
		padding-top: toRem(15);
	}
	// .footer__container

	&__container {
	}

	&__submit {
		cursor: pointer;
		&.button {
			font-size: toRem(15);
			padding: toRem(19.5) toRem(36);
			.footer_gold & {
				color: rgb(19, 19, 19);
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(13);
				padding: toRem(19.5) toRem(10);
			}
		}
		@media (min-width: $mobileSmall) and (max-width: $mobile) {
			max-width: toRem(400);
			margin: 0 auto;
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	&__top {
		display: grid;
		justify-content: space-between;
		gap: toRem(10) toRem(20);
		align-items: center;
		@include adaptiveValue("padding-bottom", 50, 20);
		border-bottom: toRem(1) solid rgba(255, 255, 255, 0.33);
		@media (min-width: $mobile) {
			grid-template-columns: auto toRem(300);
			row-gap: toRem(20);
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__bottom {
		padding: toRem(30) 0;

		nav {
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				row-gap: toRem(5);
				@include adaptiveValue("column-gap", 209, 30, 0, $containerWidth, 991.98);
				flex-wrap: wrap;
				li {
					list-style: none;
					a {
						font-size: toRem(17.5);
						line-height: 1.4;
						transition: color 0.3s;
						color: white;
						&:hover {
							color: #bc0404;
						}
					}
				}
			}
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(20) 0 toRem(50) 0;
		}
	}

	// .footer__main

	&__main {
	}

	// .footer__form

	&__form {
		@media (min-width: $mobile) {
			margin-left: auto;
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__socials-bottom {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&_gold {
		.footer__bottom {
			nav {
				ul {
					li {
						a {
							&:hover {
								color: white;
								background-image: $goldGradientText;
								background-position: 0 0;
								background-size: 100%;
								background-clip: text;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}
.main-footer {
	@media (max-width: $mobile) {
		// max-width: toRem(300);
	}
	@media (max-width: $mobileSmall) {
		max-width: toRem(250);
	}
	@media (max-width: $mobileSmall) {
		position: relative;
		top: toRem(15);
	}
	// .main-footer__title

	&__title {
		&.title {
			flex-direction: column-reverse;
			font-size: toRem(20);
			align-items: start;
			justify-content: start;
			font-weight: 900;
			text-align: left;
			span {
				transform: translate(-3%, -37%);
				font-size: toRem(40);
				@media (max-width: $mobile) {
					transform: translate(-3%, 0);
					margin-top: toRem(-20);
				}
				@media (max-width: $mobileSmall) {
					font-size: toRem(32);
					margin-top: toRem(-15);
				}
				.footer_gold & {
					background-position: 0 0;
					background-size: 100%;
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;

					background-image: $goldGradientText;
				}
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(16);
			}
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(20);
		}
	}

	// .main-footer__bottom

	&__bottom {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
	}

	// .main-footer__text

	&__text {
		color: $whiteColor;
		font-size: toRem(17);
		font-weight: 300;
		@media (max-width: $tablet) {
			font-size: toRem(13);
		}
	}

	// .main-footer__socials

	&__socials {
	}
}
