.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 99;
	transition: background-color 0.3s;
	&._header-scroll {
		transition: background-color 0.3s ease 0s;

		background-color: rgba(11, 11, 11, 1);
	}
	&_product {
		background-color: rgba(11, 11, 11, 1);
	}

	&._header-scroll {
		&.header_main {
			.header__container {
				min-height: toRem(70);
			}
		}
	}
	// .header__container

	&__container {
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		// min-height: toRem(120);
		min-height: toRem(70);
		display: grid;
		grid-template-columns: toRem(200) 1fr toRem(200);
		align-items: center;
		transition: min-height 0.6s ease 0s;
		column-gap: toRem(20);
		@media (min-width: $mobile) {
			justify-content: center;
		}
		@media (max-width: em(900)) {
			grid-template-columns: toRem(125) 1fr toRem(125);
		}
		@media (max-width: $mobile) {
			grid-template-columns: toRem(120) auto;
			justify-items: end;
		}
		._header-scroll & {
			min-height: toRem(70);
		}

		.header_gold & {
			@media (max-width: em(1024)) {
			}
		}
		.header_main & {
			min-height: toRem(120);
		}
	}

	// .header__logo

	&__logo {
		img {
			max-width: 100%;
		}
		@media (max-width: em(900)) {
			// position: relative;
			// top: 10px;
			align-self: center;
		}
		@media (max-width: $mobile) {
			position: relative;
			// top: toRem(6);
		}
	}

	// .header__menu

	&__menu {
	}

	// .header__socials

	&__socials {
		&.socials {
			gap: toRem(10) toRem(40);
			justify-self: center;
			@media (max-width: $tablet) {
				gap: toRem(10) toRem(20);
			}
			li {
				a {
					&::before {
						font-size: toRem(35);

						@media (max-width: $tablet) {
							font-size: toRem(25);
						}
					}
				}
			}
			@media (max-width: $mobile) {
				justify-content: flex-end;
			}
		}
	}

	&_document {
		.logo-scroll {
			display: none;
		}

		&._header-scroll {
			@media (min-width: $mobile) {
				.menu__button-sub-menu,
				.menu__link {
					color: white;

					&:hover {
						color: #bc0404;
					}
				}
			}

			.header__logo {
				.logo-main {
					display: none;
				}
				.logo-scroll {
					display: block;
				}
			}

			.socials {
				li {
					a {
						&:hover {
							&::before {
								-webkit-text-fill-color: rgba(255, 255, 255, 1);
							}
						}
					}
				}
			}
		}
		.sub-menu-list {
			@media (min-width: $mobile) {
				background: rgba(89, 89, 89);
			}
		}

		@media (max-width: $mobile) {
			background-color: rgba(11, 11, 11);
			.header__logo {
				.logo-main {
					display: none;
				}
				.logo-scroll {
					display: block;
				}
			}
		}
	}
	@media (max-width: $mobile) {
		.menu__body {
			padding-top: toRem(120);
		}
		&._header-scroll {
			.menu__body {
				padding-top: toRem(90);
			}
		}
	}
}
