//=========Hero=================//
.main-hero {
	position: relative;
	@include adaptiveValue("padding-top", 20, 60, 0, $containerWidth, 767.98);
	// .main-hero__container

	&__container {
		display: grid;
		grid-template-columns: percent(788, 1400) 1fr;
		align-items: center;
		position: relative;
		z-index: 2;
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}

	// .main-hero__content

	&__content {
		display: grid;
		align-self: center;
		justify-items: start;
		position: relative;
		@include adaptiveValue("padding-bottom", 140, 70, 2, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			order: 2;
			justify-items: center;
			align-items: center;
			text-align: center;
			position: relative;
			z-index: 3;
			@include adaptiveValue("top", -128, -65, 0, 767.98, 375);
		}
	}

	// .main-hero__title

	&__title {
		&.title {
			align-items: start;
			text-align: left;
			@include adaptiveValue("font-size", 77, 40, 0, $containerWidth, 767.98);
			font-weight: 900;

			span {
				@include adaptiveValue("font-size", 110, 60, 0, $containerWidth, 767.98);
				transform: translateY(44%);
				@media (max-width: $mobile) {
					@include adaptiveValue("font-size", 70, 37, 0, 767.98, 320);
				}
			}
			@media (max-width: $mobile) {
				text-align: center;
				align-items: center;
				@include adaptiveValue("font-size", 50, 25, 0, 767.98, 320);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 17, 10);
		}
		position: relative;
		z-index: 2;
		@media (max-width: $mobile) {
			@media (max-width: $mobile) {
				&::before {
					content: "";
					position: absolute;
					@include adaptiveValue("top", 63, 40, 0, 767.98, 375);
					left: 0;
					width: 100%;
					height: 48%;
					border-radius: toRem(330);
					background-color: #160404;
					filter: blur(toRem(25));
					-webkit-filter: blur(toRem(25));
					z-index: -1;
				}
			}
		}
	}

	// .main-hero__text

	&__text {
		max-width: toRem(500);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 23, 15);
		}
		@media (max-width: $tablet) {
			max-width: toRem(350);
		}
		@media (max-width: $mobile) {
			max-width: toRem(500);
			@include adaptiveValue("font-size", 20, 12, 0, 767.98, 320);
		}
		@media (max-width: $mobileSmall) {
			// max-width: toRem(280);
			@include adaptiveValue("max-width", 280, 250, 0, 479, 375);
			// max-width: toRem(250);
		}
		position: relative;
		z-index: 2;
	}

	&__button-wrap {
	}

	// .main-hero__button

	&__button {
		&.button {
			padding-top: toRem(25);
			padding-bottom: toRem(25);
			@include adaptiveValue("padding-top", 25, 15, 0, $containerWidth, 767.98);
			@include adaptiveValue("padding-bottom", 25, 15, 0, $containerWidth, 767.98);
			@include adaptiveValue("padding-right", 105, 40, 0, $containerWidth, 767.98);
			@include adaptiveValue("padding-left", 105, 40, 0, $containerWidth, 767.98);
			@include adaptiveValue("font-size", 20, 14, 0, $containerWidth, 767.98);
			@media (max-width: $mobile) {
				padding: toRem(20) toRem(65);
			}
		}

		@media (min-width: $mobile) {
			justify-self: start;
		}
		position: relative;
		z-index: 2;
	}

	// .main-hero__image

	&__image {
		align-self: end;
		@media (max-width: $mobile) {
			margin: 0 auto;
			position: relative;
			@include adaptiveValue("width", 737, 217, 0, 767.98, 320);
			@include adaptiveValue("height", 967, 320, 0, 767.98, 320);
		}
		// width: toRem(267);
		// height: toRem(380);

		img {
			max-width: 100%;
			@media (max-width: $mobile) {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
		@media (min-width: $mobile) {
			transform: translate(-9%, 6%);
		}
		@media (max-width: $mobile) {
			order: 1;
		}
	}
}
//===========Avantages===============//

.advantages-main {
	// .advantages-main__container

	&__container {
		max-width: toRem(1300);
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		color: $whiteColor;
		justify-content: center;
		align-items: center;
		position: relative;
		gap: toRem(20);
		@media (max-width: $tablet) {
			gap: toRem(60);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(30);
		}
	}

	&__bottom {
		@media (min-width: $tablet) {
			display: none;
		}
		@media (max-width: $tablet) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .advantages-main__background-block

	// .advantages-main__title

	&__title {
		display: flex;
		align-items: center;
		@include adaptiveValue("font-size", 170, 96, 0, $containerWidth, 991.98);
		@include adaptiveValue("column-gap", 190, 270, 0, $containerWidth, 991.98);
		color: rgba(30, 30, 30, 0.62);
		font-weight: 900;
		text-transform: uppercase;
	}

	// .advantages-main__subtitle

	&__subtitle {
		display: flex;
		font-family: "Birthstone";

		@include adaptiveValue("column-gap", 400, 404, 0, $containerWidth, 991.98);
		transform: translateY(toRem(-20));

		span {
			text-transform: none;
			font-size: toRem(68);
			&:nth-child(1) {
				position: relative;
				left: toRem(40);
			}
		}
	}

	// .advantages-main__column

	&__row {
		// .advantages-main__column_left

		&_top {
			display: grid;
			grid-template-columns: toRem(362) toRem(451);
			@include adaptiveValue("column-gap", 470, 220, 0, $containerWidth, 991.98);
			@media (max-width: em(1200)) {
				grid-template-columns: toRem(362) toRem(398);
			}
			@media (max-width: $tablet) {
				@include adaptiveValue("margin-bottom", 100, 8);
				grid-template-columns: auto;
			}
			.advantages-main__item {
				&:nth-child(1) {
					text-align: right;
					@media (min-width: $tablet) {
						transform: translateX(20%);
					}
					@media (max-width: $tablet) {
						flex-direction: row-reverse;
						margin-right: auto;
						text-align: left;
					}
				}
				&:nth-child(2) {
					@media (min-width: $tablet) {
						flex-direction: row-reverse;
					}
					@media (max-width: $tablet) {
						margin-left: auto;
						text-align: right;
					}
				}
			}
			position: relative;
			@media (max-width: $tablet) {
				row-gap: toRem(22);
				width: 100%;
			}
		}

		// .advantages-main__column_center

		&_center {
			display: flex;
			align-items: center;
			@media (max-width: $tablet) {
				position: relative;
				transform: translateY(10%);
			}
		}

		// .advantages-main__column_right

		&_bottom {
			display: grid;
			column-gap: toRem(28);
			grid-template-columns: 29.826968% 1fr 29.619641%;
			.advantages-main__item {
				&:nth-child(1) {
					flex-direction: row-reverse;
				}
			}

			.advantages-main__item {
				&:nth-child(3) {
					text-align: right;
				}
			}
			@media (min-width: $tablet) {
				position: relative;
				bottom: toRem(60);
			}
			@media (max-width: $tablet) {
				grid-template-columns: auto;
				row-gap: toRem(22);
				.advantages-main__item {
					&:nth-child(2) {
						margin-left: auto;
						text-align: right;
					}
				}
			}
			@media (max-width: $tablet) {
				width: 100%;
			}
		}
	}

	// .advantages-main__item

	&__item {
		list-style: none;
		display: flex;
		gap: toRem(28);
		@media (max-width: em(1024)) {
			gap: toRem(15);
		}
		@media (max-width: $tablet) {
			// align-items: center;
		}
		@media (max-width: $mobile) {
			gap: toRem(17);
		}
	}

	// .advantages-main__decor

	&__decor {
		display: flex;
		flex-direction: column;
		gap: toRem(5);

		@media (min-width: $mobileSmall) and (max-width: $tablet) {
			transform: translateY(-95%);
		}
		// .advantages-main__decor_left

		&_left {
			text-align: right;
			.advantages-main__decor-red-text {
				transform: translate(toRem(33), toRem(-30));
				padding-right: toRem(5);
				@media (min-width: $tablet) {
				}
				@media (max-width: $tablet) {
					position: relative;
					padding-right: toRem(5);
					@include adaptiveValue("top", -10, -60, 0, 991.98, 479.98);
					@include adaptiveValue("left", 70, 70, 0, 991.98, 479.98);
				}
				@media (max-width: $mobileSmall) {
					@include adaptiveValue("left", 10, 15, 0, 479, 375);
					@include adaptiveValue("top", -60, -60, 0, 479, 375);
				}
			}
			.advantages-main__decor-text {
				position: relative;

				@media (min-width: $tablet) {
					left: toRem(80);
				}
				@include adaptiveValue("top", 0, -70, 0, 991.98, 479.98);
				@media (max-width: $tablet) {
					@include adaptiveValue("left", 185, 200, 0, 991.98, 479.98);
				}

				@media (max-width: $mobileSmall) {
					left: toRem(100);
				}
			}
		}

		// .advantages-main__decor_right

		&_right {
			text-align: left;
			.advantages-main__decor-red-text {
				transform: translate(toRem(-25), toRem(-30));
				position: relative;
				z-index: 4;
				// padding-bottom: toRem(10);
				@include adaptiveValue("padding-bottom", 10, 5, 0, 991.98, 479.98);
				@media (max-width: $tablet) {
					@include adaptiveValue("top", 0, -55, 0, 991.98, 479.98);
					@include adaptiveValue("left", -70, -90, 0, 991.98, 479.98);
				}
				@media (max-width: $mobileSmall) {
					@include adaptiveValue("top", -62, -62, 0, 479.98, 375);
					@include adaptiveValue("left", -20, -20, 0, 479.98, 375);
				}
			}
			.advantages-main__decor-text {
				position: relative;
				left: toRem(-80);
				@include adaptiveValue("top", 0, 3, 0, $containerWidth, 991.98);
				@media (max-width: $tablet) {
					@include adaptiveValue("top", 15, -63, 0, 991.98, 479.98);
					left: toRem(-200);
				}
				@media (max-width: $mobileSmall) {
					top: toRem(-68.5);
					left: toRem(-97);
				}
			}
		}
	}

	// .advantages-main__decor-text

	&__decor-text {
		color: rgba(30, 30, 30, 0.62);
		@include adaptiveValue("font-size", 150, 100, 0, $containerWidth, 991.98);
		font-weight: 900;
		text-transform: uppercase;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 100, 40, 0, 991.98, 320);
		}
	}

	// .advantages-main__decor-red-text

	&__decor-red-text {
		font-family: "Birthstone";
		font-size: toRem(68);
		text-transform: none;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 68, 25, 0, 991.98, 320);
		}
	}

	// .advantages-main__image

	// .advantages-main__text

	&__text {
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}
		&_left-top {
			@media (max-width: $tablet) {
				max-width: toRem(348);
			}
			@media (max-width: $mobile) {
				max-width: toRem(266);
			}
		}
		&_bottom-left {
			@media (max-width: $tablet) {
				max-width: toRem(428);
				margin-right: auto;
			}
			@media (max-width: $mobile) {
				max-width: toRem(300);
			}
			@media (max-width: $mobileSmall) {
				max-width: toRem(270);
			}
		}
		&_top-right {
			@media (min-width: $mobile) {
				max-width: toRem(298);
			}
			@media (max-width: $tablet) {
				max-width: toRem(412);
				margin-left: auto;
			}
			@media (max-width: $mobileSmall) {
				max-width: toRem(266);
			}
		}
		&_bottom-right {
			@media (max-width: $tablet) {
				max-width: toRem(391);
				margin-left: auto;
			}
			@media (max-width: $mobile) {
				max-width: toRem(266);
			}
		}
	}

	// .advantages-main__number

	&__number {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: toRem(18);
		font-weight: 700;
		width: toRem(41);
		height: toRem(49);
		flex: 0 0 toRem(41);
		position: relative;
		top: toRem(5);
		background: url("@img/main-page/icon-bg.svg") 0 0 / contain no-repeat;
		@media (max-width: $mobileSmall) {
			width: toRem(31);
			height: toRem(39);
			flex: 0 0 toRem(31);
			font-size: toRem(13);
		}
		span {
			transform: translateY(toRem(-3));
			@media (max-width: $mobileSmall) {
				transform: translateY(toRem(-4));
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;

		@media (min-width: $tablet) {
			bottom: toRem(30);
		}
	}

	// .advantages-main__image

	&__image {
		position: relative;
		z-index: 2;
		flex: 0 0 toRem(408);
		width: toRem(408);
		height: toRem(336);
		@media (min-width: $tablet) {
			transform: translateY(-20%);
		}

		@media (max-width: $mobileSmall) {
			flex: 0 0 toRem(197);
			width: toRem(197);
			height: toRem(162);
		}
	}

	// .advantages-main__description

	&__description {
		font-size: toRem(16);
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	&__prices {
		font-family: "Birthstone";
		line-height: 1;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .advantages-main__old-price

	&__old-price {
		position: relative;
		top: toRem(5);
		text-decoration: line-through;
		font-size: toRem(30);
	}

	// .advantages-main__price

	&__price {
		font-size: toRem(48);
	}

	// .advantages-main__button

	&__button {
		&.button {
			padding: toRem(24) toRem(65);
			font-size: toRem(17);
			@media (max-width: $mobileSmall) {
				font-size: toRem(10);
				padding: toRem(15) toRem(43);
			}
		}
	}
}
//===========Growt guide===============//
.growt-guide {
	// .growt-guide__container

	&__container {
		display: grid;
		align-items: start;
		@media (max-width: em(1099.98)) {
			display: flex;
			flex-direction: column;
			gap: toRem(30);
		}
	}

	&__text-mobile {
		@media (min-width: em(1100)) {
			display: none;
		}
		@media (max-width: em(1099.98)) {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
			width: 100%;
		}
	}
	&__button-mobile {
		@media (min-width: em(1100)) {
			display: none;
		}
		@media (max-width: em(1099.98)) {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}
	&__list-mobile {
		@media (min-width: em(1100)) {
			display: none;
		}
		@media (max-width: em(1099.98)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: start;
			width: 100%;
		}
		@media (max-width: $mobileSmall) {
			// gap: toRem(5);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 0);
		}
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr toRem(330) 1fr;
		align-items: start;
		&_top {
			@media (max-width: em(1099.98)) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		&_bottom {
			grid-template-columns: 1fr 25.571429% 1fr;
			align-items: center;
		}
	}

	// .growt-guide__column

	&__column {
		// .growt-guide__column_left

		&_left {
			display: flex;
			flex-direction: column;
			align-items: start;
			position: relative;
			@media (max-width: em(1099.98)) {
			}
			&::before {
				content: "";
				width: toRem(107);
				height: toRem(107);
				position: absolute;
				@include adaptiveValue("top", 87, 67, 0, $containerWidth, 1099.98);
				@include adaptiveValue("left", 60, 17, 0, $containerWidth, 1099.98);
				background: url("@img/guide/growt-guide/decor/3dicons.png") 0 0 / cover no-repeat;
				z-index: 3;
				transform: rotate(324deg);
				pointer-events: none;
				animation: anim-decor-giude-book-left 8s linear infinite alternate;
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("width", 107, 43, 0, 1099.98, 320);
					@include adaptiveValue("height", 107, 43, 0, 1099.98, 320);

					@include adaptiveValue("top", 153, 76, 0, 1099.98, 320);
					@include adaptiveValue("left", 145, -6, 0, 1099.98, 320);
				}
			}
			.growt-guide__title-bg {
				position: relative;
				@include adaptiveValue("left", 155, 104, 0, $containerWidth, 1099.98);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("left", 104, -8, 0, 1099.98, 320);
				}
			}
			.growt-guide__text {
				max-width: toRem(313);
				text-align: left;
			}
			.growt-guide__title {
				position: relative;
				@include adaptiveValue("left", 56, 36, 0, $containerWidth, 1099.98);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("left", 45, -17, 0, 1099.98, 479);
				}
				@media (max-width: $mobileSmall) {
					@include adaptiveValue("left", -17, -34, 0, 479, 375);
				}

				@media (max-width: em(374)) {
					@include adaptiveValue("left", -33, -47, 0, 374, 320);
				}
			}
			.growt-guide__info {
				&:not(:last-child) {
					margin-bottom: toRem(80);
				}
				@media (max-width: em(1099.98)) {
					align-self: flex-end;
					height: 100%;
					justify-content: end;
				}
			}
			.growt-guide__statistic {
				position: relative;
				@include adaptiveValue("min-width", 217, 148, 0, $containerWidth, 1099.98);
				@include adaptiveValue("top", -20, -15, 0, $containerWidth, 1099.98);
				@include adaptiveValue("left", 70, 28, 0, $containerWidth, 1099.98);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("min-width", 217, 102, 0, 1099.98, 320);
					top: initial;
					@include adaptiveValue("bottom", -60, -20, 0, 1099.98, 320);
					@include adaptiveValue("left", 50, -25, 0, 1099.98, 320);
				}
			}
		}

		// .growt-guide__column_center

		&_center {
			@media (max-width: em(1099.98)) {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		// .growt-guide__column_right

		&_right {
			display: flex;
			flex-direction: column;
			align-items: start;
			.growt-guide__title-bg {
				position: relative;
				left: toRem(-130);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("left", -100, -110, 0, 1099.98, 320);
				}
			}
			.growt-guide__decor-text {
				align-items: flex-start;
			}
			.growt-guide__decor-text {
				align-items: flex-start;
			}
			.growt-guide__title {
				position: relative;
				left: -toRem(-28);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("left", -28, -7, 0, 1099.98, 767.98);
				}
				@media (max-width: $mobile) {
					@include adaptiveValue("left", -7, -45, 0, 767.98, 479);
				}
				@media (max-width: $mobileSmall) {
					@include adaptiveValue("left", -45, -57, 0, 479, 375);
				}
				@media (max-width: em(374)) {
					@include adaptiveValue("left", -50, -60, 0, 374, 320);
				}
			}

			.growt-guide__text {
				text-align: right;
				@include adaptiveValue("max-width", 325, 148, 0, $containerWidth, 1099.98);
				position: relative;
				@include adaptiveValue("right", 0, 50, 0, $containerWidth, 1099.98);
			}
			.growt-guide__statistic {
				position: absolute;
				top: 0;
				@include adaptiveValue("min-width", 239, 126, 0, $containerWidth, 1099.98);
				@include adaptiveValue("min-width", 239, 112, 0, 1099.98, 320);
				@include adaptiveValue("left", -80, -45, 0, $containerWidth, 1099.98);
				@include adaptiveValue("left", -80, -87, 0, 1099.98, 320);
				@media (max-width: em(1099.98)) {
					@include adaptiveValue("padding-left", 50, 30, 0, 1099.98, 320);
					@include adaptiveValue("top", 61, 5, 0, 1099.98, 320);
				}
			}

			.growt-guide__info {
				margin-top: toRem(60);
				justify-content: flex-end;
			}
		}
	}

	// .growt-guide__decor-text

	&__decor-text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		transform: translateY(10%);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	// .growt-guide__title-bg

	&__title-bg {
		color: #1e1e1e;
		@include adaptiveValue("font-size", 130, 100, 0, $containerWidth, 1099.98);
		font-weight: 900;
		letter-spacing: em(20, 130);
		text-transform: uppercase;
		opacity: 0.51;
		@media (max-width: em(1099.98)) {
			letter-spacing: em(5, 130);
			@include adaptiveValue("font-size", 100, 40, 0, 1099.98, 320);
		}
	}

	// .growt-guide__title

	&__title {
		text-shadow: 0 toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
		@include adaptiveValue("font-size", 77, 57, 0, $containerWidth, 1099.98);
		@media (max-width: em(1099.98)) {
			@include adaptiveValue("font-size", 47, 23, 0, 1099.98, 375);
		}

		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: em(8, 97);
		text-transform: uppercase;
		transform: translateY(-30%);
		display: flex;
		align-items: center;
		position: relative;
		background:
			url("@img/guide/growt-guide/decor/decor-text.png") 0 0 / contain repeat,
			linear-gradient(
				136deg,
				#e3a455 21.02%,
				#f6dba6 36.01%,
				#ffebc3 52.59%,
				#f0be79 61.11%,
				#8f653b 66.4%,
				#673d22 69.39%,
				#ba7f3b 76.47%,
				#eebc70 82.14%,
				#3f1f0f 95.05%
			);

		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	// &__title-double {
	// 	display: none;
	// 	text-shadow: 0 toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
	// 	@include adaptiveValue("font-size", 77, 57, 0, $containerWidth, 1099.98);

	// 	@media (max-width: em(1099.98)) {
	// 		@include adaptiveValue("font-size", 47, 23, 0, 1099.98, 375);
	// 	}
	// 	// @include adaptiveValue("font-size", 77, 20, 0, 1099.98, 320);

	// 	font-style: normal;
	// 	font-weight: 700;
	// 	line-height: normal;
	// 	letter-spacing: em(8, 97);
	// 	text-transform: uppercase;
	// 	position: absolute;
	// 	background-image: url("@img/guide/growt-guide/decor/decor-text.png");
	// 	background-position: 0;
	// 	background-repeat: repeat;
	// 	background-size: contain;
	// 	bottom: 0;
	// 	transform: translateY(-30%);
	// 	-webkit-text-fill-color: transparent;
	// 	-webkit-background-clip: text;
	// 	-webkit-text-fill-color: transparent;
	// }

	// .growt-guide__info

	&__info {
		position: relative;
		display: flex;
		align-items: flex-start;
		width: 100%;
	}

	// .growt-guide__text

	&__text {
		&.text {
			@include adaptiveValue("font-size", 24, 14, 0, $containerWidth, 1099.98);
			@media (max-width: em(1099.98)) {
				@include adaptiveValue("font-size", 24, 12, 0, 1099.98, 320);
			}
		}
		@media (max-width: em(1099.98)) {
			&:nth-child(odd) {
				text-align: left;
				max-width: toRem(326);
				@media (max-width: $mobile) {
					max-width: toRem(226);
				}
			}
			&:nth-child(even) {
				text-align: right;
				max-width: toRem(326);
				margin-left: auto;
				@media (max-width: $mobile) {
					max-width: toRem(270);
				}
			}
		}
	}

	// .growt-guide__statistic

	&__statistic {
	}

	// .growt-guide__guide-list

	&__guide-list {
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 60, 20, 0, $containerWidth, 1099.98);
		@media (min-width: em(1100)) {
			margin-top: auto;
			flex-wrap: wrap;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}
		@media (max-width: em(1099.98)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			gap: 0;
		}
		@media (max-width: em(370)) {
			grid-template-columns: auto;
			gap: toRem(15);
		}
	}

	// .growt-guide__guide-item

	&__guide-item {
	}

	// .growt-guide__image

	&__image {
		position: relative;
		width: toRem(315);
		height: toRem(492);
		z-index: 2;
		&::before {
			content: "";
			width: percent(163, 315);
			height: percent(163, 492);
			position: absolute;
			top: 0;
			right: 0;
			background: url("@img/guide/growt-guide/decor/3dicons.png") 0 0 / cover no-repeat;
			z-index: 3;
			transform: translate(31%, -30%);
			animation: anim-decor-giude-book-top 5s linear infinite alternate 1.3s;
		}
		&::after {
			content: "";
			position: absolute;
			pointer-events: none;
			width: 90.68254%;
			height: 87.886179%;
			background: radial-gradient(
				48.5% 50% at 48.5% 50%,
				rgba(227, 164, 85, 0.4) 7.29%,
				rgba(246, 219, 166, 0.4) 24.48%,
				rgba(255, 235, 195, 0.4) 43.5%,
				rgba(240, 190, 121, 0.4) 53.26%,
				rgba(143, 101, 59, 0.4) 59.33%,
				rgba(103, 61, 34, 0.4) 62.77%,
				rgba(186, 127, 59, 0.4) 70.89%,
				rgba(238, 188, 112, 0.4) 77.39%,
				rgba(63, 31, 15, 0.4) 92.19%
			);
			filter: blur(6.25rem);
			-webkit-filter: blur(6.25rem);
			z-index: -1;
			border-radius: 50%;
			top: 0;
			left: 0;
			transform: rotate(65deg) translate(4%, -6%);
		}
		@media (max-width: em(1099.98)) {
			position: relative;
			@include adaptiveValue("width", 315, 140, 0, 1099.98, 320);
			@include adaptiveValue("height", 492, 230, 0, 1099.98, 320);
		}
		@include adaptiveValue("right", 0, 55, 0, 767.98, 320);
	}

	&__button-wrapper {
		position: relative;
		&::before {
			content: "";
			width: 7.5rem;
			height: 7.5rem;
			position: absolute;
			top: toRem(4);
			left: toRem(-60);
			background: url("@img/guide/growt-guide/decor/3dicons.png") 0 0 / contain no-repeat;
			z-index: 3;
			transform: rotate(-42deg) translate(4%, -76%);
			pointer-events: none;
			animation: anim-decor-guide-book-button 5s linear infinite alternate;
			@media (max-width: em(1099.98)) {
				display: none;
			}
		}
	}

	// .growt-guide__button

	&__button {
		width: 100%;
		position: relative;
		&.button {
			color: $backgroundCards;
			font-size: toRem(19);
			@media (max-width: $mobileSmall) {
				font-size: toRem(10);
				padding: toRem(17) toRem(57);
			}
		}
	}
}

.statistic {
	border-radius: toRem(17);
	background-color: rgba(26, 26, 26, 0.89);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	backdrop-filter: blur(toRem(2));
	-webkit-backdrop-filter: blur(toRem(2));
	padding: toRem(10) toRem(5) toRem(5) toRem(5);
	@media (max-width: em(1099.98)) {
		padding: toRem(5);
	}
	// .statistic__title

	&__title {
		color: $whiteColor;
		font-size: toRem(11);
		@include adaptiveValue("font-size", 11, 7, 0, 1099.98, 320);
		position: relative;
		top: toRem(3);
		text-transform: uppercase;
		@media (max-width: $mobile) {
			margin-bottom: toRem(4);
		}
	}

	// .statistic__count

	&__count {
		font-family: "Birthstone";
		@include adaptiveValue("font-size", 53, 40, 0, $containerWidth, 1099.98);
		@include adaptiveValue("font-size", 53, 22, 0, 1099.98, 320);
		line-height: 1.2;
		font-weight: 900;
		padding: 0 toRem(5);
		&::after {
			content: "+";
		}
	}
}
.item-guide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(26, 26, 26, 0.52);
	backdrop-filter: blur(toRem(2));
	-webkit-backdrop-filter: blur(toRem(2));
	@include adaptiveValue("width", 145, 100, 0, $containerWidth, 1099.98);
	@include adaptiveValue("height", 145, 100, 0, $containerWidth, 1099.98);
	@include adaptiveValue("width", 140, 80, 0, 1099.98, 375);
	@include adaptiveValue("height", 140, 80, 0, 1099.98, 375);
	@media (max-width: $mobile) {
		gap: 0;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(3);
		justify-content: center;
		align-items: center;
		text-align: center;
		&_start {
		}
		&_format {
		}
		&_information {
		}
		&_gift {
		}
	}
	// .item-guide__icon

	&__icon {
		position: relative;

		// }
		img {
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		&_start {
			flex: 0 0 toRem(31);
			width: toRem(31);
			height: toRem(40);
			position: relative;
			left: toRem(7);
			@media (max-width: $mobile) {
				top: toRem(5);
				&:not(:last-child) {
					margin-bottom: 0;
				}
				@include adaptiveValue("top", 5, 1, 0, 767.98, 375);
				@include adaptiveValue("flex-basis", 31, 20, 0, 767.98, 375);
				@include adaptiveValue("width", 31, 20, 0, 767.98, 375);
				@include adaptiveValue("height", 40, 20, 0, 767.98, 375);
				@include adaptiveValue("left", 7, 2, 0, 767.98, 375);
			}
		}
		&_format {
			flex: 0 0 toRem(40);
			width: toRem(40);
			height: toRem(50);
			@media (max-width: $mobile) {
				flex: 0 0 toRem(25);
				width: toRem(35);
				height: toRem(35);
				@include adaptiveValue("top", -3, -6, 0, $containerWidth, 375);
			}
			@media (max-width: $mobileSmall) {
				flex: 0 0 toRem(24);
				width: toRem(26);
				height: toRem(26);
			}
		}
		&_gide {
			flex: 0 0 toRem(52);
			width: toRem(52);
			height: toRem(52);
			@media (max-width: $mobile) {
				flex: 0 0 toRem(30);
				width: toRem(30);
				height: toRem(30);
			}
			position: relative;
			top: toRem(5);
		}
	}

	&__content {
		display: grid;
		gap: toRem(2);
		@media (max-width: $mobile) {
			// gap: toRem(0);
		}
		&_learning {
			@media (min-width: $mobile) {
				margin-bottom: toRem(-16);
			}
			@media (max-width: $mobile) {
				position: relative;
				top: toRem(8);
				.item-guide__description {
					position: relative;
					top: toRem(-2);
				}
			}
		}
	}

	// .item-guide__title

	&__title {
		color: $whiteColor;
		@include adaptiveValue("font-size", 9, 7, 0, $containerWidth, 1099.98);
		@media (max-width: em(1099.98)) {
			@include adaptiveValue("font-size", 10, 6.5, 0, 1099.98, 375);
		}
		font-weight: 600;
		line-height: 136%;
		text-transform: uppercase;
		@media (min-width: em(1100)) {
			max-width: toRem(100);
		}
	}

	// .item-guide__description

	&__description {
		font-style: italic;
		line-height: 1.1;
		font-size: toRem(9);
		@media (min-width: em(1100)) {
			max-width: toRem(100);
		}
		@media (max-width: em(1099.98)) {
			@include adaptiveValue("font-size", 9, 6, 0, 1099.98, 375);
			max-width: toRem(100);
			margin: 0 auto;
		}
	}
	&_small {
		.item-guide__icon {
			flex: 0 0 toRem(68);
			width: toRem(68);
			height: toRem(28);
			@media (max-width: $mobile) {
				flex: 0 0 toRem(40);
				width: toRem(40);
				height: toRem(18);
			}
			position: relative;
			@include adaptiveValue("top", 20, 15, 0, $containerWidth, 767.98);
			margin-top: toRem(-15);
		}
	}
}
//=======================Mobile presets=========================//

.mobile-presets {
	// .mobile-presets__container

	&__container {
		display: grid;
		grid-template-columns: 28.785714% 1fr 23.1428571429%;
		align-items: start;
		color: $whiteColor;
		@media (max-width: em(1023.98)) {
			grid-template-columns: auto;

			justify-content: center;
			align-items: center;
			margin-top: toRem(-50);
		}
	}

	&__cards-mobile {
		@media (min-width: em(1024)) {
			display: none;
		}

		@media (max-width: em(1023.98)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(20);
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 40, 24);
			}
			@media (max-width: $mobileSmall) {
				gap: toRem(24);
			}
		}
	}

	// .mobile-presets__content

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;

		// .mobile-presets__content_left

		&_left {
			.statistic-card {
				@include adaptiveValue("top", 85, 25, 0, $containerWidth, 1023.98);
				@include adaptiveValue("right", -51, -31, 0, $containerWidth, 1023.98);
			}
		}

		// .mobile-presets__content_center

		&_center {
		}

		// .mobile-presets__content_right

		&_right {
			.statistic-card {
				@include adaptiveValue("min-width", 360, 248, 0, $containerWidth, 1023.98);
				@include adaptiveValue("top", 33, 23, 0, $containerWidth, 1023.98);
				@include adaptiveValue("right", 29, 27, 0, $containerWidth, 1023.98);
				&:not(:last-child) {
					@include adaptiveValue("margin-bottom", 150, 70, 0, $containerWidth, 1023.98);
				}
			}
			@media (max-width: em(1023.98)) {
				margin-bottom: toRem(36);
			}
		}
	}

	// .mobile-presets__header

	&__header {
		@media (min-width: em(1024)) {
			transform: translateY(16%);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 34, 0, $containerWidth, 1023.98);
		}
		@media (max-width: em(1024)) {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			flex-direction: column;
			@include adaptiveValue("margin-bottom", 40, 20, 0, 1023.98, 320);
		}
	}

	// .mobile-presets__title

	&__title {
		&.title {
			margin-bottom: 0;
			@include adaptiveValue("font-size", 40, 30, 0, $containerWidth, 1023.98);
			align-items: flex-end;
			font-weight: 800;
			text-align: right;
			@media (max-width: em(1023.98)) {
				align-items: center;
			}

			span {
				transform: translate(8%, 31%);
				padding: toRem(10);
				@include adaptiveValue("font-size", 64, 54, 0, $containerWidth, 1023.98);
				@media (max-width: em(1023.98)) {
					transform: translate(0%, 39%);
					position: relative;
					z-index: -1;
				}
			}
			@media (max-width: em(1023.98)) {
				@include adaptiveValue("font-size", 50, 26, 0, 1023.98, 320);
				span {
					@include adaptiveValue("font-size", 90, 42, 0, 1023.98, 320);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}

	&__description {
		@media (min-width: em(1024)) {
			text-align: right;
			max-width: toRem(300);
			margin-left: auto;
		}
		line-height: 1.5;
		@include adaptiveValue("font-size", 18, 15, 0, $containerWidth, 1023.98);
		@media (max-width: em(1023.98)) {
			@include adaptiveValue("font-size", 20, 12, 0, 1023.98, 320);
		}
	}

	// .mobile-presets__card-statistic

	&__card-statistic {
	}
	&__image {
		position: relative;
		img {
			max-width: 100%;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: toRem(62);
			height: toRem(73);
			background: url("@img/main-page/decor-i.svg") 0 0 / contain no-repeat;
			@media (max-width: em(1023.98)) {
				width: toRem(32);
				height: toRem(38);
			}
		}
		&::before {
			@media (min-width: em(1024)) {
				@include adaptiveValue("top", 59, 34, 0, $containerWidth, 1024);
				@include adaptiveValue("left", 36, 19, 0, $containerWidth, 1024);
			}
			@media (max-width: em(1023.98)) {
				top: 16%;
				left: 9%;
			}
			@media (max-width: $mobileSmall) {
				top: 12%;
				left: 7%;
			}
		}
		&::after {
			@media (min-width: em(1024)) {
				@include adaptiveValue("bottom", 104, 77, 0, $containerWidth, 1024);
				@include adaptiveValue("right", 20, 1, 0, $containerWidth, 1024);
			}
			@media (max-width: em(1023.98)) {
				bottom: 20%;
				right: 6%;
			}
			@media (max-width: $mobileSmall) {
				bottom: 18%;
				right: 2%;
			}
		}
		@media (max-width: em(1023.98)) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	// .mobile-presets__button

	&__button {
		align-self: center;
		padding-left: toRem(88);
		padding-right: toRem(88);
		@media (min-width: em(1024)) {
			transform: translateY(-100%);
		}
		&.button {
			font-size: toRem(17);
			@media (max-width: $mobileSmall) {
				font-size: toRem(10);
			}
		}
		@media (max-width: em(1023.98)) {
			justify-self: center;
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(15) toRem(54);
		}
	}

	// .mobile-presets__text

	&__text {
		@include adaptiveValue("font-size", 17, 15, 0, $containerWidth, 1023.98);

		@media (min-width: em(1024)) {
			padding-left: toRem(10);
		}
		p {
			line-height: 1.5;
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}

			@media (max-width: $mobileSmall) {
				&:nth-child(1) {
					@include adaptiveValue("max-width", 360, 340, 0, 479.98, 375);
				}

				&:nth-child(2) {
					max-width: toRem(304);
				}
			}

			@media (max-width: $mobileSmall) {
				margin: 0 auto;
			}
		}
		@media (max-width: em(1023.98)) {
			text-align: center;
			@include adaptiveValue("font-size", 20, 13, 0, 1023.98, 320);
		}
	}
}

.statistic-card {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: toRem(10);
	text-align: center;
	padding: toRem(30) toRem(10) toRem(30) toRem(10);
	border-radius: toRem(20);
	// background-color: rgba(18, 18, 18, 0.89);
	position: relative;
	z-index: 2;
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	@media (min-width: em(1024)) {
		@include adaptiveValue("min-width", 360, 280, 2, $containerWidth, 1023.98);
	}
	@media (max-width: em(1023.98)) {
		border-radius: toRem(9);
	}
	@media (max-width: $mobile) {
		gap: toRem(5);
		padding: toRem(15) toRem(10) toRem(15) toRem(10);
	}
	// .statistic-card__value

	&__value {
		@include adaptiveValue("font-size", 60, 40, 0, $containerWidth, 1023.98);
		font-weight: 900;
		position: relative;
		z-index: 2;
		&::after {
			content: "+";
		}
		@media (max-width: em(1023.98)) {
			@include adaptiveValue("font-size", 60, 24, 0, 1023.98, 320);
		}
	}

	// .statistic-card__text

	&__text {
		position: relative;
		z-index: 2;
		color: #696969;
		font-size: toRem(16);
		line-height: 1.3;
		@media (min-width: em(1024)) {
			max-width: toRem(241);
		}
		@media (max-width: em(1023.98)) {
			@include adaptiveValue("font-size", 18, 7, 0, 1023.98, 320);
		}
	}

	@media (max-width: $mobileSmall) {
		&:nth-child(1) {
			.statistic-card__text {
				max-width: toRem(110);
			}
		}
		&:nth-child(2) {
			.statistic-card__text {
				max-width: toRem(131);
			}
		}
	}
}
//==============About me============//
.about-me {
	position: relative;
	// .about-me__container

	&__container {
	}

	&__decor {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transform: translateY(35%);
		pointer-events: none;
		opacity: 0.5;
		@media (max-width: em(1199.98)) {
			display: none;
		}
	}

	&__wrap-body {
		position: relative;

		@media (min-width: em(1200)) {
			padding: toRem(1);
			border-radius: toRem(20);
			background: linear-gradient(
				122.08deg,
				rgba(255, 255, 255, 0.51) 15.76%,
				rgba(0, 0, 0, 0) 59.15%,
				rgba(255, 255, 255, 0.89) 117.14%
			);
		}
	}
	// .about-me__header

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 0, 1, $containerWidth, 1199.98);
		}
	}

	// .about-me__name

	&__name {
		@include adaptiveValue("font-size", 96, 60);
		font-weight: 900;
		text-transform: uppercase;
		&_name {
			transform: translateY(15%);
		}
		&_last-name {
			transform: translateY(-15%);
		}
	}

	// .about-me__professions

	&__professions {
		display: flex;
		align-items: center;
		font-family: "Birthstone";
		@include adaptiveValue("font-size", 48, 26);
		span {
			text-transform: none;
			display: flex;
			align-items: center;
			gap: toRem(10);
			@include adaptiveValue("font-size", 48, 26);
			@media (max-width: em(1199.98)) {
				gap: toRem(3);
			}
			&:last-child {
				&::after {
					content: "";
					display: inline-block;
					width: toRem(62);
					height: toRem(8);
					background: url("@img/main-page/about-me/decor-professions.svg") 0 0 / contain no-repeat;
					transform: translateY(toRem(3));
					@media (max-width: $mobileSmall) {
						width: toRem(32);
						height: toRem(8);
					}
				}
				position: relative;
				left: toRem(75);
				@media (max-width: em(1400)) {
					@include adaptiveValue("left", 60, 52, 0, 1400, 1200);
				}

				@media (max-width: em(1199.98)) {
					@include adaptiveValue("left", 40, 55, 0, 1199.98, 479);
				}
				@media (max-width: $mobileSmall) {
					@include adaptiveValue("left", 47, 50, 0, 479, 375);
				}
				@media (max-width: em(374)) {
					left: toRem(46);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}

			&:first-child {
				position: relative;
				right: toRem(30);
				@include adaptiveValue("right", 30, 10, 0, $containerWidth, 1199.98);
				@media (max-width: em(1199.98)) {
					@include adaptiveValue("right", 20, 20, 0, 1199.98, 320);
				}
				&::before {
					content: "";
					display: inline-block;
					width: toRem(62);
					height: toRem(8);
					background: url("@img/main-page/about-me/decor-professions.svg") 0 0 / contain no-repeat;
					transform: rotate(180deg);
					@media (max-width: $mobileSmall) {
						width: toRem(32);
						height: toRem(8);
					}
				}
				@media (max-width: em(375)) {
					@include adaptiveValue("right", 20, 10, 0, 375, 320);
				}
			}
		}
	}

	// .about-me__body

	&__body {
		backdrop-filter: blur(toRem(5));
		-webkit-backdrop-filter: blur(toRem(5));
		color: $whiteColor;
		position: relative;

		@media (min-width: em(1200)) {
			overflow: hidden;
			background-color: #121212;
			// border: toRem(2) solid rgba(255, 255, 255, 0.51);
			border-radius: toRem(20);
			// border: toRem(2) solid rgba(255, 255, 255, 0.51);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
		}
		&::before {
			left: 0;
			top: 0;
			width: 24.0714285714%;
			height: 49.214286%;
			background: url("@img/workbook/decor/decor-2.png") center / contain no-repeat;
			transform: rotate(45deg) translate(-44%, -5%);
			@media (max-width: em(1199.98)) {
				background-size: contain;
				width: toRem(300);
				height: toRem(300);
				left: toRem(-115);
				top: toRem(-100);
				transform: rotate(45deg) translate(0);
				@include adaptiveValue("width", 300, 222, 0, 1199.98, 320);
				@include adaptiveValue("height", 300, 165, 0, 1199.98, 320);
			}
		}
		&::after {
			right: 0;
			top: 0;
			width: 45.7142857143%;
			height: 79.214286%;
			background: url("@img/workbook/decor/decor-3.png") center / contain no-repeat;
			transform: rotate(306deg) translate(40%, 2%);
			@media (max-width: em(1199.98)) {
				background-size: contain;
				width: toRem(348);
				height: toRem(348);
				right: toRem(-76);
				top: toRem(-183);
				transform: rotate(304deg);
				@include adaptiveValue("width", 348, 260, 0, 1199.98, 320);
				@include adaptiveValue("height", 348, 260, 0, 1199.98, 320);
				@include adaptiveValue("right", -76, -95, 0, 1199.98, 320);
				@include adaptiveValue("top", -183, -125, 0, 1199.98, 320);
			}
		}
		@media (max-width: em(1199.98)) {
			.decor-border {
				display: none;
			}
		}
	}

	&__mobile-content {
		@media (min-width: em(1200)) {
			display: none;
		}
		@media (max-width: em(1199.98)) {
			display: grid;
			@include adaptiveValue("gap", 40, 17);
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 36.428571% 1fr;
		position: relative;
		@media (min-width: em(1200)) {
			padding-left: toRem(49);
			padding-right: toRem(47);
			padding-bottom: toRem(100);
		}
		@media (max-width: em(1199.98)) {
			grid-template-columns: auto;
			gap: toRem(120);
		}
		@media (max-width: $mobile) {
			gap: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(60);
		}
	}

	// .about-me__content

	&__content {
		// .about-me__content_left

		&_left {
			align-items: flex-end;
			@media (min-width: em(1200)) {
				padding-right: toRem(39);
			}
			.content-about__description {
				@media (min-width: em(1200)) {
					text-align: right;
				}
			}

			.content-about__label {
				background: $red;
			}
			.content-about__bottom {
				align-self: start;
			}
		}

		// .about-me__content_right

		&_right {
			@media (min-width: em(1200)) {
				padding-left: toRem(33);
			}
			align-items: flex-start;
			.content-about__label {
				background-color: white;
				color: black;
			}
			.content-about__description {
				@media (min-width: em(1200)) {
					text-align: left;
				}
			}
			.content-about__bottom {
				align-self: flex-end;
			}
		}
		@media (max-width: em(1199.98)) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	// .about-me__center

	&__center {
		position: relative;
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("margin-top", -192, -130, 0, 1199.98, 479.98);
		}
		@media (max-width: $mobileSmall) {
			@include adaptiveValue("margin-top", -130, -125, 0, 479.98, 375);
		}
	}

	// .about-me__image

	&__image {
		align-self: flex-end;
		@media (min-width: em(1200)) {
			position: absolute;
			left: 50%;
			// transform: translate(-53%, 34%);
			// width: 100%;
			// padding-bottom: 185%;
			position: absolute;
			left: 50%;
			transform: translate(-55%, 34%);
			width: 112%;
			padding-bottom: 165%;
			@include adaptiveValue("bottom", 83, 132, 0, $containerWidth, 1199.98);
		}
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("width", 293, 256, 0, 1199.98, 320);
			@include adaptiveValue("height", 451, 320, 0, 1199.98, 320);
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			@media (max-width: em(1199.98)) {
				object-fit: contain;
				width: 95%;
			}
		}
	}

	// .about-me__instagram

	&__instagram {
	}
}
.content-about {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 27, 18);
	// .content-about__label

	&__label {
		font-size: toRem(16);
		text-transform: uppercase;
		border-radius: toRem(10);
		text-align: center;
		padding: toRem(10) toRem(20);
		box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 20, 10);
		}
	}

	// .content-about__description

	&__description {
		line-height: 1.2;
		font-size: toRem(16);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 27, 10);
			}
		}
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 22, 12, 0, 1199.98, 479);
		}
		@media (max-width: $mobileSmall) {
			&_top {
				p {
					margin: 0 auto;
					&:nth-child(1) {
						max-width: toRem(326);
					}
					&:nth-child(2) {
						max-width: toRem(316);
					}
				}
			}

			&_bottom {
				p {
					margin: 0 auto;
					&:nth-child(1) {
						max-width: toRem(303);
					}
					&:nth-child(2) {
						max-width: toRem(304);
					}
				}
			}
		}
	}

	// .content-about__bottom

	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: toRem(10) toRem(50);
		@media (max-width: em(1199.98)) {
			align-self: center !important;
		}
		@media (max-width: $mobileSmall) {
			@include adaptiveValue("gap", 42, 28, 0, 479, 375);
		}
	}

	// .content-about__statisctics

	&__statisctics {
	}
	@media (max-width: em(1199.98)) {
		background-color: #191818;
		border-radius: toRem(10);
		padding: toRem(25);
		@media (max-width: $mobileSmall) {
			padding: toRem(25) toRem(15);
		}
	}
}
.statisctics-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: toRem(5);
	@media (max-width: $mobileSmall) {
		gap: toRem(0);
	}
	// .statisctics-about__value

	&__value {
		font-family: "Birthstone";
		padding-bottom: toRem(8);
		@include adaptiveValue("font-size", 70, 50, 0, $containerWidth, 1200);
		text-transform: none;
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 90, 54, 0, 1199.98, 375);
		}
		@media (max-width: em(375)) {
			@include adaptiveValue("font-size", 40, 39, 0, 375, 320);
		}
	}

	// .statisctics-about__title

	&__title {
		text-transform: uppercase;
		line-height: 1.2;
		// font-size: toRem(16);
		@include adaptiveValue("font-size", 16, 12, 0, $containerWidth, 1200);
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 20, 14, 0, 1199.98, 375);
		}
		@media (max-width: em(375)) {
			@include adaptiveValue("font-size", 13, 10, 0, 375, 320);
		}
	}
}
.instagram {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: toRem(30);
	background-color: rgba(25, 25, 25, 0.53);
	padding: toRem(15) toRem(50) toRem(23) toRem(50);
	transform: translateY(65%);
	@media (min-width: em(1200)) {
		position: absolute;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(toRem(10));
		-webkit-backdrop-filter: blur(toRem(10));
	}
	@media (max-width: em(1199.98)) {
		background-color: rgba(25, 25, 25);
		max-width: toRem(500);
		margin: 0 auto;
		@include adaptiveValue("padding-right", 50, 20, 0, 1199.98, 320);
		@include adaptiveValue("padding-left", 50, 20, 0, 1199.98, 320);
		transform: translateY(65%);
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(10);
		max-width: toRem(300);

		margin-bottom: toRem(20);
	}
	// .instagram__icon

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(21%, -40%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(57);
		height: toRem(68);
		background: url("@img/main-page/icon-bg-border.svg") center / contain no-repeat;
		img {
			width: toRem(36);
			height: toRem(36);
			position: relative;
			object-fit: cover;
			bottom: toRem(3);
			@media (max-width: $mobile) {
				width: toRem(23);
				height: toRem(23);
			}
			@media (max-width: $mobileSmall) {
				bottom: toRem(2);
			}
		}
		@media (max-width: $mobile) {
			width: toRem(47);
			height: toRem(48);
		}
		@media (max-width: $mobileSmall) {
			width: toRem(37);
			height: toRem(40);
			transform: translate(21%, -20%);
		}
	}

	// .instagram__link

	&__link {
		text-align: center;
		text-transform: none;
		align-self: center;
		padding-bottom: toRem(3);
		font-weight: 500;
		font-size: toRem(21);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(15);
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .instagram__content

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-items: center;
		text-align: center;
		gap: toRem(30);
		@media (max-width: $mobileSmall) {
			gap: toRem(0);
			grid-template-columns: 33% 33% 33%;
		}
	}

	// .instagram__item

	&__item {
		display: grid;
		gap: toRem(5);
	}

	// .instagram__value

	&__value {
		font-size: toRem(25);
		font-weight: 500;
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 25, 13, 0, 1199.98, 320);
		}
	}

	// .instagram__text

	&__text {
		@media (max-width: em(1199.98)) {
			@include adaptiveValue("font-size", 18, 11, 0, 1199.98, 320);
		}
	}
}
