.page {
	&__hero {
	}
	&__course {
		padding-top: toRem(102);
		padding-bottom: toRem(168);
		@media (max-width: em(1024.98)) {
			padding-top: toRem(20);
		}
		@media (max-width: $mobile) {
			padding-top: 0;
			padding-bottom: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(70);
		}
	}
	&__workbook {
		padding-bottom: toRem(194);
		@media (max-width: $mobile) {
			padding-bottom: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(70);
		}
	}

	&__content-workbook {
		padding-bottom: toRem(38);
		@media (max-width: $mobileSmall) {
			padding-top: toRem(20);
		}
	}

	&__workbook-price {
		padding-top: toRem(30);
		padding-bottom: toRem(186);
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(70);
		}
	}
}

//====================//
.presets {
	// .presets__hero

	&__hero {
	}

	// .presets__catalog
	&__catalog {
		@include adaptiveValue("padding-bottom", 100, 30);
		@include adaptiveValue("padding-top", 50, 15);
	}

	&__premium {
		position: relative;
		background-color: white;
		@include adaptiveValue("padding-bottom", 150, 60);
		position: relative;
		z-index: 3;
	}

	// .presets__faq

	&__faq {
		&.faq::before {
			display: none;
		}
	}
}

//========================//
.product {
	padding-top: toRem(60);
	background-color: $whiteColor;
	@include adaptiveValue("padding-bottom", 166, 20);
	@media (max-width: $tablet) {
		padding-top: toRem(30);
	}
	@media (max-width: $mobileSmall) {
		padding-top: toRem(15);
	}
	// .prodcut__container

	&__container {
		// .prodcut__container_wide

		&_wide {
		}
	}

	// .prodcut__back

	&__back {
		display: inline-flex;
		align-items: center;
		gap: toRem(12);
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		font-size: toRem(17);
		svg {
			width: toRem(31);
			height: toRem(9);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .prodcut__body

	&__body {
		display: grid;

		@include adaptiveValue("column-gap", 50, 20, 0, $containerWidth, 991.98);
		grid-template-columns: 53% 1fr;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			row-gap: toRem(30);
		}
		@include adaptiveValue("margin-bottom", 73, 20);
	}

	&__slider-wrapper {
	}

	// .prodcut__content

	&__content {
	}

	&__presets-other {
	}
}

//===========================//
.main {
	// .main__hero

	&__hero {
		@media (max-width: $mobile) {
			margin-top: -70px;
		}
		margin-bottom: toRem(200);
	}
	&__advantages {
		position: relative;
		@include adaptiveValue("padding-bottom", 300, 70);
	}
	&__growt-guide {
		@include adaptiveValue("padding-bottom", 300, 30);
	}
	&__mobile-presets {
		position: relative;
		@include adaptiveValue("padding-bottom", 300, 30);
	}
	&__about {
		@include adaptiveValue("padding-bottom", 300, 30);
	}

	// .main__faq

	&__faq {
		&.faq {
			@include adaptiveValue("padding-bottom", 167, 30);
		}
	}
}
