//=========Home page===========//

.page {
	&__hero {
	}
	&__course {
		padding-bottom: toRem(168);

		@media (max-width: $mobile) {
			padding-bottom: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(100);
		}
	}
	&__workbook {
		padding-bottom: toRem(194);
		@media (max-width: $mobile) {
			padding-bottom: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(100);
		}
	}

	&__content-workbook {
		padding-bottom: toRem(35);
		@media (max-width: $mobileSmall) {
			padding-top: toRem(40);
			padding-bottom: toRem(15);
		}
	}

	&__workbook-price {
		padding-top: toRem(30);
		padding-bottom: toRem(186);
		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(120);
		}
	}
}

//=========Presets page===========//
.presets {
	// .presets__hero

	&__hero {
	}

	&__wrapp {
		&.decor-main-circle {
			background-color: white;
			border-radius: toRem(40);
			&::before {
				display: none;
			}
			&::after {
				background: url("@img/decor-circle-main-white.png") center / contain no-repeat;
				transform: translate(-50%, -50.2%);
				border-radius: toRem(40);
				@media (max-width: em(1024)) {
					width: 20%;
					transform: translate(-50%, -50.03%);
				}
				@media (max-width: $mobile) {
					width: 50%;
				}
			}
		}
	}

	// .presets__catalog
	&__catalog {
		@include adaptiveValue("padding-bottom", 100, 30);
		// @include adaptiveValue("padding-top", 50, 15);
	}

	&__premium {
		position: relative;
		// background-color: white;
		@include adaptiveValue("padding-bottom", 150, 60);
		position: relative;
		z-index: 3;
	}

	// .presets__faq

	&__faq {
		&.faq {
			padding-top: toRem(100);
			@media (max-width: $mobileSmall) {
				padding-top: toRem(30);
			}
		}
		&.faq::before {
			display: none;
		}
	}
}

//=============Product page===========//
.product {
	padding-top: toRem(60);
	background-color: $whiteColor;
	@include adaptiveValue("padding-bottom", 166, 20);
	@media (max-width: $tablet) {
		padding-top: toRem(30);
	}
	@media (max-width: $mobileSmall) {
		padding-top: toRem(15);
	}
	// .prodcut__container

	&__container {
		// .prodcut__container_wide

		&_wide {
		}
	}

	// .prodcut__back

	&__back {
		display: inline-flex;
		align-items: center;
		gap: toRem(12);
		transition: opacity 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		font-size: toRem(17);
		svg {
			width: toRem(31);
			height: toRem(9);
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.5;
			}
		}
	}

	// .prodcut__body

	&__body {
		display: grid;

		@include adaptiveValue("column-gap", 50, 20, 0, $containerWidth, 991.98);
		grid-template-columns: 53% 1fr;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			row-gap: toRem(30);
		}
		@include adaptiveValue("margin-bottom", 73, 20);
	}

	&__slider-wrapper {
	}

	// .prodcut__content

	&__content {
	}

	&__presets-other {
	}
}

//===========Main page================//
.main {
	position: relative;

	// .main__ticker
	&__ticker {
	}

	// .main__hero
	&__hero {
		position: relative;
		@media (max-width: $mobile) {
			margin-top: toRem(-60);
		}
		@include adaptiveValue("margin-bottom", 200, 120);
	}
	&__advantages {
		position: relative;
		@include adaptiveValue("padding-bottom", 150, 70);
	}
	&__growt-guide {
		@include adaptiveValue("padding-bottom", 150, 70);
	}
	&__mobile-presets {
		position: relative;
		@include adaptiveValue("padding-bottom", 250, 120);
	}
	&__about {
		@include adaptiveValue("padding-bottom", 250, 10);
	}

	// .main__faq

	&__faq {
		&.faq {
			@include adaptiveValue("padding-bottom", 167, 30);
		}
	}
}

//===========Guide page================//
.guide {
	// .guide__hero

	&__hero {
	}
	&__instagram-guide {
		@include adaptiveValue("padding-bottom", 150, 80);
		@media (max-width: em(1024)) {
			padding-top: toRem(40);
		}
	}

	&__advantages {
		@include adaptiveValue("padding-bottom", 150, 30);
	}
	// .guide__content-guide

	&__content-guide {
		position: relative;
		@include adaptiveValue("padding-bottom", 150, 30);
	}
	// .guide__immediately

	&__immediately {
		position: relative;
		@include adaptiveValue("padding-bottom", 150, 70);
	}
	// .guide__author

	&__author {
		@include adaptiveValue("padding-bottom", 150, 30);
	}
	// .guide__your-instagram

	&__your-instagram {
		margin-bottom: toRem(300);

		@media (max-width: $tablet) {
			@include adaptiveValue("margin-bottom", 300, 70, 0, 991, 320);
		}
	}
	// .guide__faq

	&__faq {
		position: relative;
		@media (max-width: $tablet) {
			padding-bottom: toRem(60);
		}
	}
}
