.hero-presets {
	position: relative;

	padding-top: vw(20);
	@media (min-width: $mobile) {
		min-height: 100vh;
	}
	// .hero-presets__container

	&__main-container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 82.166667vw;
		margin: 0 auto;
		padding: vw(20) vw(15) vw(20) vw(15);
		@media (min-width: $mobile) {
			min-height: 100vh;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-bottom", 100, 50);
			align-items: start;
			justify-content: start;
			padding-top: vmin(30);
		}
	}

	&__body {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: percent(600, 1520) 1fr;
		column-gap: vw(33);
		@media (max-width: $mobile) {
			align-items: center;
			grid-template-columns: 1fr;
			text-align: center;
		}
	}

	// .hero-presets__content

	&__content {
		position: relative;
		z-index: 2;
		@media (max-width: $mobile) {
			order: 2;
			@include adaptiveValue("padding-top", 800, 200);
		}
	}

	// .hero-presets__title

	&__title {
		text-align: left;
		&.title {
			align-items: start;
			font-size: vw(43);
			font-weight: 800;
			span {
				transform: translateY(25%);
				font-size: vw(80);
				@media (max-width: $mobile) {
					font-size: vmin(35);
				}
			}
			@media (max-width: $mobile) {
				justify-content: center;
				align-items: center;
				font-size: vmin(25);
				text-align: center;
				&:not(:last-child) {
					margin-bottom: vmin(13);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: vw(13);
		}
	}

	// .hero-presets__description

	&__description {
		&.text {
			font-size: vw(18);
			@media (max-width: $mobile) {
				font-size: vmin(7);
			}
		}
		span {
			font-weight: 600;
			@media (max-width: $mobile) {
				font-size: vmin(7);
			}
		}
		p {
			&:not(:last-child) {
				margin-bottom: vw(15);
			}
		}
		&:not(:last-child) {
			margin-bottom: vw(10);
		}
		&:not(:last-child) {
			margin-bottom: vmin(10);
		}
	}

	// .hero-presets__prices

	&__prices {
		font-family: "Birthstone";
		&:not(:last-child) {
			margin-bottom: vw(20);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: vmin(13);
			}
		}
	}

	// .hero-presets__old-price

	&__old-price {
		transform: translateY(20%);
		color: white;
		font-size: vw(40);
		text-decoration: line-through;
		@media (max-width: $mobile) {
			font-size: vmin(20);
		}
	}

	// .hero-presets__price

	&__price {
		font-size: vw(50);
		@media (max-width: $mobile) {
			font-size: vmin(30);
		}
	}

	// .hero-presets__button

	&__button {
		&.button {
			font-size: vw(17);
			padding: vw(20) vw(70);
			border-radius: vw(10);
			@media (max-width: $mobile) {
				font-size: vmin(13);
				padding: vmin(15) vmin(0);
				border-radius: vmin(5);
				width: 100%;
			}
		}
	}

	// .hero-presets__images

	&__images {
		position: relative;
		@media (max-width: $mobile) {
			order: 1;
		}
	}

	// .hero-presets__image

	&__image {
		display: flex;
		position: absolute;
		border-radius: vw(20);
		@media (max-width: $mobile) {
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: vw(20);
			@media (max-width: $mobile) {
				// object-fit: contain;
			}
		}
		// .hero-presets__image_top-left

		&_top-left {
			width: vw(304);
			height: vw(241);
			position: relative;
			left: vw(90);
			top: 0;
			@media (max-width: $mobile) {
				width: 40.3125vmin;
				height: 28.5625vmin;
				top: 12.25vmin;
				left: -5vmin;
			}

			animation: anim-image-top-left 30s infinite ease-in;
		}

		// .hero-presets__image_bottom-left

		&_bottom-left {
			width: vw(377);
			height: vw(301);
			@media (max-width: $mobile) {
				width: 40.3125vmin;
				height: 27.5625vmin;
				top: 42.25vmin;
				left: -8vmin;
			}

			.touch & {
				animation: anim-image-bottom-left 17s infinite ease-in;
			}
		}

		// .hero-presets__image_big

		&_big {
			width: vw(500);
			height: vw(800);
			left: 8.520833vw;
			top: -6.47916vw;
			border-radius: 0;
			z-index: 3;
			@media (min-width: $mobile) {
				// transform: translate(-50%, -50%);
				// left: 50%;
				// top: 50%;
			}
			@media (max-width: $mobile) {
				width: 53.375vmin;
				height: 81.625vmin;
				top: 4.75vmin;
				left: 8.125vmin;
			}

			.touch & {
				animation: anim-image-big 20s infinite ease-in;
			}
		}

		// .hero-presets__image_top-right

		&_top-right {
			width: vw(310);
			height: vw(370);
			top: vw(-70);
			right: 0;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: vw(30);
				width: vw(180);
				height: vw(180);
				background: url("@img/presets-page/hero-block/decor/decor.png") 0 0 / cover no-repeat;
				z-index: 2;
				transform: translateY(-70%);
			}
			@media (max-width: $mobile) {
				width: 33.3125vmin;
				height: 33.5625vmin;
				top: 8.25vmin;
				right: -4vmin;
			}
			.touch & {
				animation: anim-image-top-right 6s infinite ease-in;
			}
		}
		&_bottom-right {
			width: vw(341);
			height: vw(277);
			right: vw(50);
			bottom: vw(0);
			@media (max-width: $mobile) {
				@media (max-width: $mobile) {
					width: 44.3125vmin;
					height: 31.5625vmin;
					top: 45.25vmin;
					right: -8vmin;
				}
			}

			.touch & {
				animation: anim-image-bottom-right 25s infinite ease-in;
			}
		}
	}

	// .hero-presets__bg

	&__bg {
		position: absolute;
		min-width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//=====================//
.catalog {
	background-color: white;
	// .catalog__container

	&__container {
	}

	&__slider {
		&.swiper {
			@media (min-width: $mobile) {
				overflow: visible;
			}
		}
	}

	// .catalog__title

	&__title {
		position: relative;
		z-index: 3;
		&:not(:last-child) {
			margin-bottom: toRem(70);
		}
		@media (max-width: em(1024)) {
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
		&.title {
			align-items: start;
			color: $backgroundDark;
			font-weight: 800;
		}
	}

	// .catalog__items

	&__items {
		max-width: toRem(1226);
		margin: 0 auto;

		grid-template-columns: repeat(3, 1fr) !important;
		gap: toRem(80) toRem(38);
		@media (min-width: $mobile) {
			display: grid !important;
		}
		@media (max-width: em(1024)) {
			grid-template-columns: repeat(2, 1fr) !important;
			row-gap: toRem(40);
		}
		@media (max-width: $mobile) {
			gap: 0 !important;
		}
		padding-bottom: toRem(10);
	}
	&__slider-pagination {
		@media (min-width: $mobile) {
			display: none;
		}
	}

	// .catalog__item

	&__item {
	}
}

.premium-set {
	// .premium-set__container

	&__container {
	}

	// .premium-set__body

	&__body {
		display: grid;
		position: relative;
		background-color: $backgroundCards;
		border-radius: toRem(10);
		@media (min-width: em(1300)) {
			grid-template-columns: 56% 1fr;
			&::after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				left: 50%;
				z-index: 2;
				top: 0;
				border-left: toRem(13) solid transparent;
				border-right: toRem(13) solid transparent;
				border-top: toRem(28) solid white;
				border-bottom: 0;
				transform: translateX(-50%);
			}
		}
	}

	// .premium-set__image

	&__image {
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			@media (max-width: em(1300.98)) {
				border-radius: toRem(10) toRem(10) 0 0;
			}
		}
		@media (max-width: em(1300.98)) {
			border-radius: toRem(10) toRem(10) 0 0;
			padding-bottom: 47%;
		}
	}

	// .premium-set__content

	&__content {
		position: relative;
		align-self: center;
		padding: toRem(50) toRem(0) toRem(50) toRem(20);
		@include adaptiveValue("padding-right", 70, 25, 0, $containerWidth, 1300);
		@media (max-width: em(1300)) {
			text-align: center;
			padding-bottom: 0;
			@include adaptiveValue("padding-top", 50, 25);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
		}
		@media (max-width: em(1300.98)) {
			&::before,
			&::after {
				@include adaptiveValue("top", 60, 35);
			}
			&::before {
				left: 0;
				border-top: toRem(13) solid transparent;
				border-bottom: toRem(13) solid transparent;
				border-left: toRem(28) solid white;
				border-right: 0;
			}
			&::after {
				right: 0;
				border-top: toRem(13) solid transparent;
				border-bottom: toRem(13) solid transparent;
				border-right: toRem(28) solid white;
				border-left: 0;
			}
		}

		@media (max-width: $mobileSmall) {
			&::before {
				border-top: toRem(8) solid transparent;
				border-bottom: toRem(8) solid transparent;
				border-left: toRem(22) solid white;
			}
			&::after {
				border-top: toRem(8) solid transparent;
				border-bottom: toRem(8) solid transparent;
				border-right: toRem(22) solid white;
			}
		}
	}

	// .premium-set__title

	&__title {
		color: $whiteColor;
		@include adaptiveValue("font-size", 44, 25, 0, $containerWidth, 1300);
		font-weight: 700;
		line-height: 1.3;
		text-transform: uppercase;
		@media (max-width: em(1300.98)) {
			text-align: center;
			@include adaptiveValue("font-size", 44, 25, 0);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 10);
		}
	}

	// .premium-set__text

	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(42);
		}
		p {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
		&.text {
			font-size: toRem(16);
			@media (max-width: $mobileSmall) {
				font-size: toRem(12);
			}
		}
		span {
			font-weight: 600;
		}
	}

	// .premium-set__footer

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(15);
		@media (max-width: em(1300.98)) {
			flex-direction: column;
		}
	}

	// .premium-set__prices

	&__prices {
		display: flex;
		flex-direction: column;
	}

	// .premium-set__old-price

	&__old-price {
		color: #8e8e8e;
		font-size: toRem(30);
		text-decoration: line-through;
		@media (max-width: em(1300.98)) {
			@include adaptiveValue("font-size", 60, 30);
		}
	}

	// .premium-set__price

	&__price {
		font-size: toRem(40);
		font-weight: 500;
		@media (max-width: em(1300.98)) {
			@include adaptiveValue("font-size", 80, 40);
		}
	}

	// .premium-set__button

	&__button {
		&.button {
			padding: toRem(12) toRem(55);
			font-size: toRem(16);
			@media (max-width: $mobileSmall) {
				font-size: toRem(12);
				svg {
					width: toRem(25);
					height: toRem(25);
				}
			}
		}
		@media (max-width: em(1300.98)) {
			transform: translateY(50%);
		}
		@media (max-width: em(1300.98)) {
			width: 70%;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
