.marquee {
	color: $whiteColor;
	padding: toRem(10) 0;
	background-color: #121212;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100vw;
		height: 11px;
		background: url("@img/decor/square.png") 100% repeat-x;
		@media (max-width: $mobile) {
		}
	}
	&::before {
		top: 4px;
	}
	&::after {
		bottom: 2.3px;
	}
	&_top {
		transform: rotate(4deg) translateY(100%);
		z-index: 97;
		@media (max-width: $mobile) {
			transform: rotate(-349deg) translateY(100%);
		}
	}
	&_bottom {
		transform: rotate(-4deg) translateY(116%);
		z-index: 96;
		@media (max-width: $mobile) {
			transform: rotate(349deg) translateY(100%);
		}
	}
}
.marquee > * {
	padding: toRem(10) 0;
	font-size: toRem(25);
	text-transform: uppercase;
	font-weight: 700;
	@media (max-width: $tablet) {
		font-size: toRem(20);
	}
	@media (max-width: $mobile) {
		font-size: toRem(14);
		padding: toRem(10) 0;
	}
}
